@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?w4e96f');
  src:  url('../fonts/icomoon.eot?w4e96f#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?w4e96f') format('truetype'),
    url('../fonts/icomoon.woff?w4e96f') format('woff'),
    url('../fonts/icomoon.svg?w4e96f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-innovation:before {
  content: "\e900";
}
.icon-creativity:before {
  content: "\e901";
}
.icon-innovation-1:before {
  content: "\e902";
}
.icon-brainstorm:before {
  content: "\e903";
}
.icon-strategy:before {
  content: "\e904";
}
.icon-design-thinking:before {
  content: "\e905";
}
.icon-idea:before {
  content: "\e906";
}
.icon-creativity-1:before {
  content: "\e907";
}
.icon-agile:before {
  content: "\e908";
}
.icon-network:before {
  content: "\e909";
}
.icon-responsibility:before {
  content: "\e90a";
}
.icon-procedure:before {
  content: "\e90b";
}
.icon-analysis:before {
  content: "\e90c";
}
.icon-checklist:before {
  content: "\e90d";
}
.icon-opportunity:before {
  content: "\e90e";
}
.icon-planning:before {
  content: "\e90f";
}
.icon-long-term-planning:before {
  content: "\e910";
}
.icon-interactive:before {
  content: "\e911";
}
.icon-interactive-1:before {
  content: "\e912";
}
.icon-bullhorn:before {
  content: "\e913";
}
.icon-ads:before {
  content: "\e914";
}
.icon-idea-1:before {
  content: "\e915";
}
.icon-online-course:before {
  content: "\e916";
}
.icon-collaboration:before {
  content: "\e917";
}
.icon-analysis-1:before {
  content: "\e918";
}
.icon-framework:before {
  content: "\e919";
}
.icon-innovation-2:before {
  content: "\e91a";
}
.icon-management:before {
  content: "\e91b";
}
.icon-seo:before {
  content: "\e91c";
}
.icon-interactive-2:before {
  content: "\e91d";
}
.icon-thumbs-up:before {
  content: "\e91e";
}
.icon-focusing:before {
  content: "\e91f";
}
.icon-qualitative-research:before {
  content: "\e920";
}
.icon-analyze:before {
  content: "\e921";
}
.icon-research:before {
  content: "\e922";
}
.icon-data-classification:before {
  content: "\e923";
}
.icon-diagnostic:before {
  content: "\e924";
}
.icon-analysis-2:before {
  content: "\e925";
}
.icon-histogram:before {
  content: "\e926";
}
.icon-dashboard:before {
  content: "\e927";
}
.icon-analytics:before {
  content: "\e928";
}
.icon-target:before {
  content: "\e929";
}
.icon-target-1:before {
  content: "\e92a";
}
.icon-target-audience:before {
  content: "\e92b";
}
.icon-segment:before {
  content: "\e92c";
}
.icon-segmentation:before {
  content: "\e92d";
}
.icon-startup:before {
  content: "\e92e";
}
.icon-web:before {
  content: "\e92f";
}
.icon-web-1:before {
  content: "\e930";
}
.icon-search-engine-optimization:before {
  content: "\e931";
}
.icon-seo-1:before {
  content: "\e932";
}
.icon-blog:before {
  content: "\e933";
}
.icon-pub:before {
  content: "\e934";
}
.icon-promotion:before {
  content: "\e935";
}
.icon-career:before {
  content: "\e936";
}
.icon-promotions:before {
  content: "\e937";
}
.icon-google-symbol:before {
  content: "\e938";
}
.icon-facebook:before {
  content: "\e939";
}
.icon-youtube:before {
  content: "\e93a";
}
.icon-linkedin:before {
  content: "\e93b";
}
.icon-zalo .path1:before {
  content: "\e93c";
  color: rgb(230, 239, 244);
}
.icon-zalo .path2:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(182, 209, 221);
}
.icon-zalo .path3:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(65, 160, 215);
}
.icon-zalo .path4:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-skype:before {
  content: "\e940";
}
.icon-search-engine:before {
  content: "\e941";
}
.icon-yahoo:before {
  content: "\e942";
}
.icon-chart:before {
  content: "\e943";
}
.icon-freelance:before {
  content: "\e944";
}
.icon-graphic-design:before {
  content: "\e945";
}
.icon-promotion1:before {
  content: "\e946";
}
.icon-brain:before {
  content: "\e947";
}
.icon-tool:before {
  content: "\e948";
}
.icon-responsive-design:before {
  content: "\e949";
}
.icon-search-engine1:before {
  content: "\e94a";
}
.icon-coding:before {
  content: "\e94b";
}
.icon-share:before {
  content: "\e94c";
}
.icon-config:before {
  content: "\e94d";
}
.icon-error:before {
  content: "\e94e";
}
.icon-browser:before {
  content: "\e94f";
}
.icon-design:before {
  content: "\e950";
}
.icon-web1:before {
  content: "\e951";
}
.icon-web-programming:before {
  content: "\e952";
}
