@media only screen and (max-width: 1025px) {
  .menu-main ul li a {
    padding: 15px 10px; }

  .how-we-work ul li .item-how-work h4 {
    font-size: 12px;
    color: #0c0c0c;
    font-weight: 400; }

  .slider-body {
    padding-top: 40%; }

  canvas {
    top: -7%; }

  .request-action {
    padding: 40px 0; }

  .img-background img {
    width: 94%;
    height: 300px; }

  .img-background {
    position: absolute;
    top: 60px;
    left: 38px;
    width: auto; } }
@media only screen and (max-width: 1000px) {
  .logo {
    width: auto;
    float: left; }

  .thank-you-page {
    display: inline-block;
    width: 100%; }
    .thank-you-page__content {
      background: #fff;
      width: 100%;
      padding: 0 15px;
      margin: auto;
      padding-top: 30px;
      text-align: center;
      border-radius: 0 0;
      margin-top: -148px; }

  canvas {
    top: -180px; }

  .social-phone-menu {
    top: 10px; }

  .slider-body {
    padding-top: 30%; }

  .services-body ul li .item-services h6 {
    font-size: 14px; }

  .request-action {
    padding: 35px 0; }

  .how-we-work ul li .item-how-work h4 {
    font-size: 11px; }

  .report-lager {
    padding: 0; }

  .report-lager, .item-report-lager, .report-small, .small-link, .item-report-small {
    width: 100%;
    float: left; }

  .section-country ul li p {
    height: 90px; }

  .logo-footer {
    text-align: center; }

  .menu-footer {
    display: none; }

  .menu-main .content-menu-scroll .phone, .menu-main .content-menu-scroll .social {
    display: none; }

  .logo-menu-scroll {
    display: block; }

  .animated-mouse {
    display: none; }

  .client-body {
    padding-bottom: 30px; }

  .infor-contact, .form-contact2 {
    float: left;
    width: 50% !important;
    margin-bottom: 30px !important; }
    .infor-contact .form-request-page, .form-contact2 .form-request-page {
      width: 100% !important; } }
@media screen and (min-device-width: 1300px) and (max-device-width: 1700px) {
  canvas {
    top: -70px; }

  .slider-body {
    padding-top: 31%; } }
@media only screen and (max-width: 767px) {
  .form-contact {
    width: 100%; }
    .form-contact form {
      padding: 0 15px; }
    .form-contact label, .form-contact input, .form-contact textarea {
      width: 100%; }

  .thank-you-page {
    display: inline-block;
    width: 100%; }
    .thank-you-page__content {
      margin-top: -180px; }

  .example-thankyou {
    padding: 30px 0;
    margin-bottom: 0; }

  .modal-open .modal {
    padding-right: 0 !important; }

  .client-page {
    padding-top: 119px; }

  .seo-agency-page ul li {
    width: 100%; }

  .result-page ul li .item-result {
    min-height: initial !important; }

  .our-primary ul li {
    width: 50%; }

  .result-page ul li .item-result h5, .result-page ul li .item-result p {
    height: auto; }

  .client-body ul li {
    width: 50% !important; }

  .description-form-contact h6 {
    font-size: 22px;
    max-width: 90%; }

  .navbar, .img-background {
    display: none; }

  .services-body ul li, .section-country ul li, .how-we-work ul li {
    width: 50%; }

  .content-first {
    padding: 0; }

  .section-country ul li p {
    height: 70px; }

  .request-action h2 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px; }

  .request-action {
    padding: 20px 0; }

  .request-action a {
    display: inline-block;
    padding: 15px 24px;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 50px;
    margin: 0 5px;
    font-size: 14px;
    color: #fff;
    width: 260px;
    text-align: center;
    margin-bottom: 13px; }

  .menu-main.menu-scroll {
    display: none !important; }

  .slider-body .title-slider h1 {
    font-size: 40px; }

  .slider-body .title-slider h1 img {
    height: 34px; }

  .social-phone-menu .phone, .social-phone-menu .social {
    display: none; }

  .animated-mouse {
    top: 70%; }

  .logo {
    float: none; }

  .social-phone-menu {
    top: 34px;
    left: 0;
    right: auto;
    padding: 0; }
    .social-phone-menu .menu {
      padding-left: 20px; }

  .menu-responsive {
    right: auto;
    left: -1000px; }

  .show-menu-right {
    right: auto !important;
    left: 0 !important;
    padding-top: 90px; }

  .menu-responsive .icon-close-menu {
    top: 35px;
    left: 30px; }

  .how-we-work ul li:nth-child(odd) {
    margin: auto; }

  .how-we-work ul li {
    margin-bottom: 15px; }

  .how-we-work ul {
    margin-top: 30px; }

  .report-small {
    padding-left: 0; }

  .title-report p {
    max-width: 100%; }

  footer {
    background: #0c0c0c;
    padding: 15px 0; }

  footer .logo-footer img {
    height: 60px;
    margin-bottom: 10px; }

  .slider-body {
    height: 500px; }

  .how-we-work ul li .item-how-work h4 {
    height: 30px; }

  .how-we-work {
    padding: 0; }

  .request-action {
    padding: 7% 0; }

  .menu-responsive {
    overflow-y: auto; }

  .tab-services-page2 ul li {
    width: 25%; } }
@media screen and (min-device-width: 560px) and (max-device-width: 815px) {
  .slider-body {
    padding-top: 60%; }

  .seo-agency-page ul li p {
    height: 220px; }

  .blogs-body .news-hot ul {
    width: 100%; }

  .news-hot, .lager-columns {
    padding: 0; }

  .img-background img {
    width: 94%;
    height: 300px; }

  .img-background {
    position: absolute;
    top: 60px;
    left: 38px;
    width: auto; }

  .client-body ul li {
    width: 50% !important;
    float: left; }

  .tab1-content-left {
    padding: 0 !important; }

  .content-first {
    padding-bottom: 0; }

  .MB-img {
    display: block; }

  .PC-img {
    display: none; }

  .result-page ul li .item-result {
    min-height: 380px; } }
@media only screen and (max-width: 851px) {
  .item-hot-blogs, .item-bottom-news {
    position: relative; }
    .item-hot-blogs img, .item-bottom-news img {
      float: left;
      height: auto !important;
      width: 25%; }

  .result-page ul li .item-result p {
    height: 220px; }

  .item-bottom-news {
    padding: 0 !important; }

  .content-hot-blogs {
    float: left;
    width: 75%;
    padding-left: 20px; }

  .category-blogs ul {
    margin-left: -15px;
    margin-right: -15px; }

  .page-404 {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 50px 15px; }
    .page-404 img {
      max-width: 100%; }

  .right-columns-hot {
    padding: 0;
    margin-bottom: 0;
    float: left;
    width: 100%; }

  .hot-news-page {
    margin: 0px 0 15px 0px !important;
    float: left;
    width: 100%; }

  .list-news-bottom-page {
    margin: 0 0 30px 0; }

  .hot-bottm-slider {
    margin-top: 30px !important; }

  .img-focus-news {
    float: left;
    margin-top: 20px; }

  .category-blogs ul li {
    float: left;
    width: 33.3%; }
    .category-blogs ul li p {
      display: none; }

  .list-news-cate .content-hot-blogs {
    background: none;
    padding: 0; }

  .list-news-bottom-page .item-bottom-news {
    margin-bottom: 15px;
    float: left;
    width: 100%; }

  .content-blogs-detail {
    width: 100% !important;
    padding: 0 15px !important; }
    .content-blogs-detail img {
      margin: 15px 0; }

  .category-blogs {
    margin-bottom: 40px;
    margin-top: 30px; }

  .blogs-page-detail {
    margin-bottom: 30px; }

  .blogs-page-detail .col-md-6 {
    padding: 0; }

  .market-lager-img, .market-lager-infor {
    width: 100% !important;
    padding: 0  !important;
    margin-bottom: 20px; }

  .market-report-item img {
    position: relative !important;
    width: 100% !important; }
  .market-report-item .item-bottom-news {
    padding: 15px !important;
    float: left;
    width: 50% !important; }
  .market-report-item .content-hot-blogs {
    background: #f6f8fd !important;
    padding: 15px; }
  .market-report-item .pagging-body {
    float: left;
    width: 100%; }

  .content-detail-market-report {
    margin-bottom: 30px; }

  .hot-bottm-slider .hot-news-page:nth-child(1) img {
    width: 100% !important; }
  .hot-bottm-slider .hot-news-page:nth-child(1) .content-hot-blogs {
    float: left;
    width: 100% !important;
    padding-left: 0px; }

  .right-columns-hot .hot-news-page:nth-child(1) img {
    width: 25% !important; }
  .right-columns-hot .hot-news-page:nth-child(1) .content-hot-blogs {
    float: left;
    width: 75% !important;
    padding-left: 20px; } }
@media only screen and (max-width: 450px) {
  .tab-content .col-md-7 {
    padding: 0 !important; }
    .tab-content .col-md-7 ul {
      margin-top: 20px; }
      .tab-content .col-md-7 ul li {
        width: 100% !important; }

  .blocks.how-we-work ul {
    margin-top: 10px !important; }

  .table-services-3 table {
    width: 1000px !important; }

  .slider-body {
    padding: 70% 10px 0 10px; }

  .list-news-bottom-page .item-bottom-news {
    min-height: initial; }

  .pagging-body ul li a {
    padding: 0 10px; }

  .list-news-bottom-page {
    margin: 0 !important; }

  .result-page ul li .item-result p {
    height: auto; }

  .seo-agency-page ul li {
    margin: 10px 0 !important; }

  .img-research {
    float: left;
    width: 100%; }

  .item-search-box {
    padding: 0; }

  .content-research {
    float: left;
    width: 100%;
    padding-left: 0; }

  .our-primary ul li {
    padding: 0; }

  .list-news-bottom-page.market-report-item {
    margin: 0 !important;
    width: 100%;
    float: left; }

  .right-columns-hot .hot-news-page:nth-child(1) img {
    width: 40% !important; }

  .right-columns-hot .hot-news-page:nth-child(1) .content-hot-blogs {
    width: 60% !important; }

  .right-columns-hot {
    margin: 20px 0 0 0; }

  .market-report-item .item-bottom-news {
    width: 100% !important;
    padding: 0 !important; }

  .list-news-bottom-page img {
    height: 120px; }

  .table-services-3 {
    overflow-x: scroll; }

  .content-hot-blogs p {
    display: none; }

  .content-detail-market-report {
    padding: 0; }

  .market-page-detail {
    padding-top: 220px !important; }
    .market-page-detail h1 {
      font-size: 32px !important; }

  .market-report-body .content-detail-market-report {
    margin-bottom: 30px; }

  .blogs-detail-body .content-blogs-detail img {
    max-width: 100%;
    width: 100% !important;
    height: auto !important; }

  .list-news-cate .content-hot-blogs {
    background: none;
    padding: 15px; }

  .blogs-page {
    margin-bottom: 30px; }

  .hot-bottm-slider {
    margin-top: 0 !important; }

  .list-news-bottom-page.market-report-item h2 a {
    font-size: 14px !important;
    height: 100px; }

  .market-report-item {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 0 !important; }
    .market-report-item .item-bottom-news:nth-child(3) {
      display: none; }

  .list-news-bottom-page.market-report-item {
    margin-top: 0 !important; }

  .item-hot-blogs img, .item-bottom-news img {
    width: 40%;
    height: auto; }

  .content-hot-blogs {
    width: 60%;
    padding-left: 20px; }
    .content-hot-blogs h2, .content-hot-blogs a {
      height: auto !important; }

  .item-hot-blogs, .item-bottom-news {
    position: relative; }

  .market-lager-infor label {
    float: right; }

  .market-report-body .market-lager .market-lager-infor h1 {
    font-size: 27px; }

  .category-blogs .title-cate-blogs {
    padding: 10px 0; }

  .item-bottom-news {
    padding: 0 !important; }

  .list-news-bottom-page .item-bottom-news {
    margin-bottom: 10px; }

  .category-blogs ul li {
    padding: 0 5px;
    text-align: center;
    margin-bottom: 10px; }
    .category-blogs ul li h5 {
      font-size: 16px !important;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0;
      padding: 10px 5px !important;
      margin-top: 0; }
    .category-blogs ul li img {
      height: 60px !important; }

  .news-hot, .lager-columns {
    padding: 0; }

  .focus-news .col-md-6 {
    padding: 0; }

  .content-lager-blogs {
    margin-bottom: 30px; }

  .seo-agency-page ul li p, .seo-agency-page ul li h5 {
    height: auto; }

  .infor-contact, .form-contact2 {
    float: left;
    width: 100% !important;
    margin-bottom: 30px !important; }
    .infor-contact img, .form-contact2 img {
      display: none !important; }
    .infor-contact .form-request-page, .form-contact2 .form-request-page {
      width: 100% !important; }

  .our-primary ul li {
    width: 100%; }

  .request-action {
    padding: 20px 0; }

  .tab1-content-left {
    padding: 0 !important; }

  .content-first {
    padding-bottom: 0; }

  .seo-agency-head {
    padding-top: 90px !important; }

  .link-requestment a, .growth-box .link-requestment a {
    margin-bottom: 15px; }

  .MB-img {
    display: block; }

  .PC-img {
    display: none; }

  .body-content-tab {
    padding-top: 20px; }

  .content-tab-1 {
    padding: 20px 0; }

  canvas {
    padding: 20%;
    top: -10%; }

  .head-page {
    padding-top: 180px; }

  .img-background {
    display: none; }

  .navbar {
    display: none; }

  .tab-propose .tab-content {
    padding-left: 0; }

  .tab-propose {
    position: relative;
    padding-left: 0;
    margin-top: 30px; }

  .propose-page p, .result-page p {
    font-size: 14px;
    max-width: 100%;
    margin: auto; }

  .tab-propose ul {
    position: relative;
    left: 0;
    top: 0;
    width: auto;
    border: 0;
    float: left; }

  .tab-propose ul li {
    width: 33%;
    text-align: center;
    border-radius: 0;
    float: left;
    border-right: 1px solid #d8ddeb !important;
    border-bottom: 0 !important;
    margin-bottom: 10px; }

  .tab-services-page2 ul li a {
    height: 100px;
    text-align: center;
    font-size: 14px;
    padding: 22px 0; }

  .banner-servicces2 h6 {
    font-size: 16px;
    line-height: 30px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px; }

  .tab-content .col-md-5 {
    padding: 0; }

  .result-page ul li {
    float: left;
    width: 100%;
    list-style: none;
    padding: 0; }

  .result-page ul li .item-result {
    min-height: auto;
    padding: 29px 20px; }

  .head-page h1 {
    color: #fff;
    font-size: 24px; }

  .first-right-columns .form-request-page {
    float: left;
    width: 100%; }

  .tab1-content-left {
    padding: 0 !important; }

  .tab-services-page2 ul li {
    width: 25%; }

  .tab-services-page2 ul li a {
    font-size: 12px; }

  .tab1-content-right h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px; }

  .popup-thankyou {
    text-align: center; }
    .popup-thankyou .modal-dialog {
      width: 95%; } }
@media screen and (min-device-width: 1025px) and (max-device-width: 1366px) {
  canvas {
    top: -10%; } }
@media screen and (min-device-width: 1300px) and (max-device-width: 1366px) {
  canvas {
    top: -16%; } }

/*# sourceMappingURL=responsive.css.map */
