@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  outline: none;
  margin: 0;
  text-decoration: none; }

body {
  font-size: 14px;
  color: #0c0c0c;
  width: 100%;
  font-family: 'Poppins', sans-serif; }

.logo {
  width: 100%;
  text-align: center; }
  .logo img {
    height: 60px; }

header {
  padding: 15px;
  position: relative;
  z-index: 1;
  background-size: cover; }

.social-phone-menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px; }

.phone {
  float: left;
  margin-right: 10px;
  opacity: .7; }
  .phone:hover {
    opacity: 1; }
  .phone i {
    color: #fff;
    font-size: 20px; }
  .phone a {
    font-size: 16px;
    color: #fff;
    opacity: .7; }
    .phone a:hover {
      opacity: 1; }

.social {
  float: left; }
  .social a {
    float: left;
    padding-left: 10px;
    opacity: .7; }
    .social a:hover {
      opacity: 1; }
  .social i {
    font-size: 14px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    color: #0c0c0c;
    display: block;
    text-align: center;
    padding-top: 2px; }

.menu {
  float: left;
  padding-left: 30px;
  opacity: .7;
  margin-top: -5px;
  cursor: pointer; }
  .menu:hover {
    opacity: 1; }
  .menu i {
    font-size: 25px;
    color: #fff; }

.title-slider {
  opacity: .6; }

.slider-body {
  background: url(../images/background-slider.jpg) no-repeat center top;
  height: 682px;
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-top: -90px;
  padding-top: 27%; }
  .slider-body .title-slider h6 {
    font-size: 25px;
    color: #fff; }
  .slider-body .title-slider h1 {
    font-size: 70px;
    font-weight: 600;
    color: #fff; }
    .slider-body .title-slider h1 img {
      height: 53px;
      display: initial;
      margin-top: -11px; }

canvas {
  position: absolute;
  top: -140px;
  left: 0;
  width: 100%;
  height: auto !important; }

.animated-mouse {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 27px;
  height: 47px;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
  border-radius: 14px;
  margin-top: 50px;
  opacity: .5; }
  .animated-mouse-pointer {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #fff;
    left: 50%;
    top: 70%;
    transform: translate(-50%, 0);
    animation-name: mousePointer;
    animation-duration: 2s;
    animation-iteration-count: 10;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-delay: .6s; }

@keyframes mousePointer {
  0% {
    opacity: 0;
    top: 70%; }
  20% {
    opacity: 1;
    top: 70%; }
  40% {
    opacity: 1;
    top: 70%; }
  60% {
    opacity: 1;
    top: 20%; }
  61% {
    opacity: 1;
    top: 20%; }
  67% {
    opacity: 0;
    top: 20%; }
  100% {
    opacity: 0;
    top: 20%; } }
.services-body {
  padding: 50px 0;
  background: #f6f8fd;
  z-index: 1; }
  .services-body .title-services {
    text-align: center;
    width: 90%;
    margin: auto; }
    .services-body .title-services h2 {
      font-size: 26px;
      font-weight: 700;
      text-transform: uppercase;
      color: #0c0c0c; }
    .services-body .title-services p {
      font-size: 12px;
      color: #a6a6a6; }
  .services-body ul {
    margin-top: 30px; }
    .services-body ul li {
      list-style: none;
      width: 25%;
      float: left;
      padding: 0 10px; }
      .services-body ul li .item-services {
        box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
        background: #fff;
        padding: 25px 15px 20px 15px;
        display: inline-block;
        height: 200px;
        margin-bottom: 20px;
        width: 100%;
        transition: all .2s linear;
        text-align: center; }
        .services-body ul li .item-services a {
          color: #0c0c0c;
          text-decoration: none;
          width: 100%;
          display: inline-block; }
        .services-body ul li .item-services i {
          font-size: 50px;
          color: #a3a3a3; }
        .services-body ul li .item-services h6 {
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          height: 50px;
          margin-top: 15px; }
        .services-body ul li .item-services span {
          float: right;
          font-size: 15px; }
        .services-body ul li .item-services:hover {
          background: #ee0f0c; }
          .services-body ul li .item-services:hover i, .services-body ul li .item-services:hover span, .services-body ul li .item-services:hover h6 {
            color: #fff; }
      .services-body ul li label {
        font-weight: normal;
        font-size: 10px;
        color: #b0b0b0;
        height: 110px;
        overflow: hidden; }

.request-action {
  background: url(../images/h-background-action.jpg) no-repeat center top;
  height: 294px;
  padding: 70px 0;
  z-index: 1;
  text-align: center; }
  .request-action h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px; }
  .request-action a {
    display: inline-flex;
    padding: 15px 40px;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 50px;
    margin: 0 5px;
    font-size: 16px;
    color: #fff; }
    .request-action a:hover {
      opacity: .8; }
  .request-action a:nth-child(3) {
    background: #ee0f0c;
    color: #fff;
    border: 1px solid #ee0f0c; }

.how-we-work {
  padding: 40px 0;
  z-index: 1; }
  .how-we-work h2 {
    font-size: 26px;
    color: #0c0c0c;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
  .how-we-work ul {
    margin-top: 80px;
    position: relative; }
    .how-we-work ul li {
      float: left;
      padding: 0 5px;
      width: 12.5%;
      list-style: none; }
      .how-we-work ul li .item-how-work {
        background: #fff;
        box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
        padding: 15px 5px;
        text-align: center; }
        .how-we-work ul li .item-how-work img {
          height: 53px;
          opacity: .4; }
        .how-we-work ul li .item-how-work h4 {
          font-size: 13px;
          color: #0c0c0c;
          height: 53px; }
      .how-we-work ul li:nth-child(odd) {
        margin-top: -30px; }

.title-report p {
  text-align: center;
  font-size: 12px;
  max-width: 80%;
  color: #a6a6a6;
  margin: auto; }
.title-report h2 {
  font-size: 26px;
  color: #0c0c0c;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }

.item-how-work i {
  font-size: 40px;
  margin-top: 10px;
  opacity: .6; }

.item-report-lager {
  float: left;
  margin: 20px 0; }
  .item-report-lager img {
    width: 100%;
    margin-bottom: 10px;
    height: 272px;
    object-fit: cover; }
  .item-report-lager h5 a {
    font-weight: 700;
    font-size: 14px;
    margin-top: 15px;
    color: #0c0c0c; }

.item-report-small {
  float: left;
  margin: 20px 0; }
  .item-report-small img {
    width: 100%;
    margin-bottom: 10px;
    height: 150px;
    object-fit: cover; }
  .item-report-small h6 {
    margin: 0; }
    .item-report-small h6 a {
      font-weight: 400;
      font-size: 14px;
      margin-top: 5px;
      line-height: 23px;
      color: #0c0c0c; }

.item-small-link {
  position: relative; }
  .item-small-link i {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 12px;
    color: #8d8d8d; }
  .item-small-link p {
    padding-left: 10px;
    color: #0c0c0c;
    font-size: 14px; }

.button-view-all {
  float: left;
  width: 100%;
  margin: 20px 0;
  text-align: center; }
  .button-view-all a {
    display: inline-flex;
    transition: all .2s linear;
    padding: 7px 25px;
    text-decoration: none;
    border: 1px solid #ee0f0c;
    color: #ee0f0c;
    text-transform: uppercase; }
    .button-view-all a i {
      margin: 3px; }
    .button-view-all a:hover {
      background: #ee0f0c;
      color: #fff; }

.section-country ul {
  float: left;
  width: 100%;
  margin-top: 30px; }
  .section-country ul li {
    width: 14.2%;
    float: left;
    list-style: none;
    text-align: center;
    list-style: none;
    padding: 0 5px; }
    .section-country ul li p {
      height: 70px;
      padding: 15px 5px;
      padding: 15px 5px;
      border: 1px solid #fff;
      font-size: 14px;
      background: #fff;
      box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px; }
    .section-country ul li:hover p {
      border: 1px solid #ee0f0c; }

.maps-place {
  margin-top: 30px;
  float: left;
  width: 100%; }
  .maps-place img {
    max-width: 100%; }

.client-section {
  background: #ee0f0c url(../images/background-client.jpg) no-repeat center top;
  padding: 50px 0; }
  .client-section .title-report h2, .client-section .title-report p {
    color: #fff; }

.section-client {
  text-align: center;
  margin-top: 20px; }
  .section-client img {
    max-height: 30px;
    padding: 0 15px;
    margin: 20px 0; }

.client-view-all {
  float: left;
  width: 100%;
  margin: 20px 0;
  text-align: center; }
  .client-view-all a {
    display: inline-flex;
    transition: all .2s linear;
    padding: 7px 25px;
    text-decoration: none;
    border: 1px solid #f56f6d;
    color: #fff;
    text-transform: uppercase; }
    .client-view-all a i {
      margin: 3px; }

.expertises {
  border-top: 1px solid #ef4a3b;
  text-align: center;
  float: left;
  padding-top: 20px;
  margin: 30px 0 0px 0;
  width: 100%; }
  .expertises h3 {
    font-size: 26px;
    font-weight: 600;
    color: #fff; }

.form-request {
  padding: 50px 0;
  background: #fff; }

.mauticform-row label b {
  color: #ee0f0c !important; }

.form-contact {
  width: 530px;
  margin: 30px auto; }
  .form-contact label {
    float: left;
    width: 130px;
    margin-right: 30px;
    margin-top: 9px;
    font-size: 14px;
    color: #525252;
    font-weight: 500; }
    .form-contact label b {
      color: #ee0f0c !important; }
    .form-contact label span {
      color: #ee0f0c; }
  .form-contact input {
    float: left;
    width: 370px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #d7d7d7; }
    .form-contact input:focus {
      border: 1px solid #ee0f0c;
      box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px; }
  .form-contact textarea {
    float: left;
    width: 370px;
    height: 70px;
    padding: 0 10px;
    border: 1px solid #d7d7d7; }
    .form-contact textarea:focus {
      border: 1px solid #ee0f0c;
      box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px; }

.item-form {
  float: left;
  width: 100%;
  margin-bottom: 20px; }

.button-send-message {
  width: 100%;
  text-align: center;
  margin-top: 0px;
  display: inline-block; }
  .button-send-message button {
    padding: 12px 25px;
    color: #fff;
    background: #ee0f0c;
    border: 0;
    float: right;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }
    .button-send-message button i {
      color: #fff;
      font-size: 12px; }

footer {
  background: #0c0c0c;
  padding: 40px 0; }
  footer h6 {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600; }
  footer p {
    line-height: 23px; }
  footer .list-menu-footer a {
    font-size: 13px;
    color: #595959;
    padding: 5px 0;
    width: 100%;
    position: relative;
    padding-left: 13px;
    display: inline-block; }
    footer .list-menu-footer a:hover {
      color: #fff; }
    footer .list-menu-footer a::before {
      position: absolute;
      top: 11px;
      left: 0;
      width: 5px;
      height: 5px;
      content: '';
      display: block;
      border-radius: 50%;
      background: #595959; }
  footer .logo-footer img {
    height: 80px;
    margin-bottom: 10px; }
  footer .logo-footer p {
    color: #595959;
    font-size: 13px; }

.scroll-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  background: red;
  padding: 15px;
  font-weight: bold;
  line-height: normal;
  opacity: .7;
  border: none;
  display: none; }
  .scroll-top:hover {
    opacity: 1; }
  .scroll-top i {
    font-size: 16px;
    color: #fff; }

.scroll-to-top {
  display: block !important; }

.menu-main {
  position: fixed;
  top: 0;
  display: none;
  left: 0;
  box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
  width: 100%;
  background: #fff;
  padding: 5px 15px; }
  .menu-main .logo-menu-scroll {
    float: left; }
    .menu-main .logo-menu-scroll img {
      height: 50px; }
  .menu-main ul {
    float: left;
    padding-bottom: 0;
    margin-bottom: 0; }
    .menu-main ul li {
      float: left;
      list-style: none; }
      .menu-main ul li a {
        color: #0c0c0c;
        font-size: 14px;
        display: inline-block;
        text-decoration: none;
        padding: 15px; }
      .menu-main ul li:hover a, .menu-main ul li.active a {
        color: #ee0f0c; }
  .menu-main .content-menu-scroll {
    float: right; }
    .menu-main .content-menu-scroll .phone, .menu-main .content-menu-scroll .social {
      opacity: 1;
      padding-top: 12px; }
      .menu-main .content-menu-scroll .phone a, .menu-main .content-menu-scroll .phone i, .menu-main .content-menu-scroll .social a, .menu-main .content-menu-scroll .social i {
        opacity: 1;
        color: #0c0c0c !important; }
    .menu-main .content-menu-scroll .phone {
      margin-left: 20px; }
    .menu-main .content-menu-scroll a i {
      font-size: 15px; }

.menu-scroll {
  display: block !important; }

.menu-responsive {
  position: fixed;
  right: -1000px;
  top: 0;
  transition: all .2s linear;
  width: 300px;
  box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
  height: 100%;
  padding: 20px;
  background: #fff; }
  .menu-responsive ul li {
    display: inline-block;
    width: 100%;
    list-style: none; }
    .menu-responsive ul li a {
      font-size: 14px;
      text-transform: uppercase;
      padding: 10px 15px;
      font-weight: 500;
      float: left;
      width: 100%;
      color: #0c0c0c; }
  .menu-responsive .social, .menu-responsive .phone {
    padding: 10px;
    display: none;
    text-align: left;
    width: 100%;
    opacity: 1; }
    .menu-responsive .social a, .menu-responsive .social i, .menu-responsive .phone a, .menu-responsive .phone i {
      color: #0c0c0c;
      opacity: 1;
      padding: 0;
      padding-right: 10px; }
  .menu-responsive .social {
    border-top: 1px solid #d7d7d7;
    width: 100%; }
    .menu-responsive .social i {
      font-size: 18px; }
  .menu-responsive .icon-close-menu {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    color: #0c0c0c;
    z-index: 9;
    cursor: pointer; }

.show-menu-right {
  right: 0 !important; }

.services-page {
  background: #0c0c0c url(../images/servces.png) no-repeat center top; }

.head-page {
  height: 549px;
  margin-top: -90px;
  padding-top: 240px; }
  .head-page h1 {
    color: #fff;
    font-size: 46px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    font-weight: 800; }
  .head-page p {
    font-size: 16px;
    color: #b8b8b8;
    margin: auto;
    text-align: center;
    max-width: 80%; }

.breadcrumb {
  background: none;
  text-align: center;
  margin-bottom: 0; }
  .breadcrumb li {
    font-size: 11px;
    opacity: .7;
    color: #fff; }
  .breadcrumb a {
    font-size: 11px;
    color: #fff;
    opacity: .7; }

.services-cate {
  background: #fff;
  padding: 50px 0; }
  .services-cate ul li {
    float: left;
    width: 33.3%;
    padding: 0 15px;
    margin-bottom: 30px;
    list-style: none; }
    .services-cate ul li .item-services {
      float: left;
      width: 100%;
      background: #fff;
      box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
      text-align: center; }
      .services-cate ul li .item-services img {
        height: 60px;
        margin: 60px 0; }
      .services-cate ul li .item-services a {
        float: left;
        text-decoration: none;
        width: 100%; }
      .services-cate ul li .item-services h6 {
        font-size: 16px;
        padding: 20px 15px;
        font-weight: 500;
        float: left;
        width: 100%;
        height: 75px;
        color: #404040;
        background: #f6f8fd;
        border-bottom: 2px solid #0c0c0c;
        margin: 0; }
    .services-cate ul li:hover h6 {
      background: #ee0f0c;
      color: #fff; }

.body-content-tab {
  padding-top: 80px; }

.services-page-1 {
  background: #0c0c0c url(../images/services-1.jpg) no-repeat center top; }

.services-page-2 {
  background: #0c0c0c url(../images/head-bg-services2.jpg) no-repeat center top; }

.services-page-3 {
  background: #0c0c0c url(../images/head-bg-services3.jpg) no-repeat center top; }

.services-page-4 {
  background: #0c0c0c url(../images/head-bg-services4.jpg) no-repeat center top; }

.client-page {
  background: #0c0c0c url(../images/client-background-head.jpg) no-repeat center top;
  padding-top: 170px; }

.contact-page {
  background: #0c0c0c url(../images/contact-bg-head.jpg) no-repeat center top;
  padding-top: 170px; }

.seo-agency-head {
  background: #0c0c0c url(../images/seo-agency-background.jpg) no-repeat center top;
  padding-top: 170px; }

.blogs-page {
  background: #0c0c0c url(../images/head-blogs.jpg) no-repeat center top;
  padding-top: 170px; }

.services-page-1 {
  display: inline-block;
  width: 100%; }

.market-page {
  background: #0c0c0c url(../images/market-repot-bg-head.jpg) no-repeat center top; }

.market-page-detail {
  background: #0c0c0c url(../images/market-report-head.jpg) no-repeat center top; }
  .market-page-detail h1 {
    text-align: left;
    text-transform: none; }

.hirring-page {
  background: #0c0c0c url(../images/hirring-bg-head.jpg) no-repeat center top; }

.tab-fixed {
  position: fixed;
  top: 60px;
  left: 0; }

.mce-toc {
  border: 1px solid #ddd; }
  .mce-toc h2 {
    background: #f1f1f1;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 0 14px;
    margin: 0 !important; }
  .mce-toc ul {
    padding-left: 22px; }
    .mce-toc ul li {
      padding: 5px 0; }
      .mce-toc ul li a {
        color: #0c0c0c; }

.lap_editor img {
  max-width: 100%;
  height: auto !important; }
.lap_editor ul li, .lap_editor ol li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px !important;
  width: 100%;
  display: inline-block; }
  .lap_editor ul li::before, .lap_editor ol li::before {
    background: url(../images/check-icon.png) no-repeat left top;
    display: block;
    content: '';
    width: 18px;
    position: absolute;
    left: 0;
    top: 4px;
    height: 18px; }
  .lap_editor ul li p, .lap_editor ol li p {
    margin-bottom: 0 !important; }
  .lap_editor ul li ul, .lap_editor ol li ul {
    padding-left: 0px !important; }
    .lap_editor ul li ul li, .lap_editor ol li ul li {
      padding-left: 18px !important; }
      .lap_editor ul li ul li::before, .lap_editor ol li ul li::before {
        background: #b0b0b0;
        background-image: none;
        display: block;
        content: '';
        width: 6px;
        position: absolute;
        border-radius: 50%;
        left: 0;
        top: 8px;
        height: 6px; }
.lap_editor h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 20px; }
.lap_editor h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 20px; }
.lap_editor p {
  font-size: 14px;
  margin-bottom: 10px; }
.lap_editor h4 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
  font-size: 20px; }
.lap_editor h5 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
  font-size: 18px; }
.lap_editor h6 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
  font-size: 16px; }
.lap_editor table thead tr th {
  background: #0c0c0c;
  color: #fff;
  padding: 10px 15px; }
.lap_editor table tr td {
  padding: 10px 15px;
  line-height: 25px;
  border: 1px solid #ddd; }

.page-404 {
  width: 600px;
  margin: auto;
  text-align: center;
  padding: 50px 15px; }
  .page-404 img {
    max-width: 100%; }
  .page-404 h1 {
    font-size: 26px;
    margin-bottom: 20px; }
  .page-404 p {
    font-size: 13px;
    margin-bottom: 20px; }
  .page-404 a {
    padding: 8px 20px;
    background: #0c0c0c;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase; }
    .page-404 a i {
      font-size: 14px;
      padding-right: 5px;
      color: #fff; }
    .page-404 a:hover {
      background: #ee0f0c; }

.form-contact {
  visibility: initial !important; }

.modal-body.form-request {
  padding: 0; }

.blogs-body .news-hot .title-hot {
  position: relative;
  margin-bottom: 20px; }
  .blogs-body .news-hot .title-hot::before {
    position: absolute;
    content: '';
    display: block;
    height: 15px;
    width: 3px;
    background: #ee0f0c; }
  .blogs-body .news-hot .title-hot h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    margin-left: 10px;
    color: #ee0f0c; }
.blogs-body .news-hot ul {
  display: inline-block;
  margin-top: 10px; }
  .blogs-body .news-hot ul li {
    list-style: none;
    padding: 7px 0;
    border-bottom: 1px solid #d8d8d8; }
    .blogs-body .news-hot ul li a {
      color: #fff; }
    .blogs-body .news-hot ul li p {
      color: #0c0c0c; }
      .blogs-body .news-hot ul li p:hover {
        text-decoration: underline !important; }
    .blogs-body .news-hot ul li label {
      font-weight: normal;
      background: #a9a9a9;
      padding: 1px 10px;
      float: left;
      color: #fff;
      margin-right: 10px;
      font-size: 12px;
      margin-top: 5px; }

.title-hirring h2 {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600; }

.list-news-bottom-page {
  margin: 30px 0; }
  .list-news-bottom-page label {
    text-transform: uppercase;
    color: #0c0c0c;
    display: inline-block;
    margin-top: 5px;
    padding: 0px 10px;
    background: #d8d8d8; }
    .list-news-bottom-page label a {
      color: #0c0c0c;
      font-size: 12px;
      font-weight: normal;
      opacity: .7; }
  .list-news-bottom-page img {
    width: 100%;
    height: 240px;
    object-fit: cover; }
  .list-news-bottom-page h2 {
    line-height: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px; }
    .list-news-bottom-page h2 a {
      color: #0c0c0c;
      font-size: 14px; }
  .list-news-bottom-page .item-bottom-news {
    margin: 0; }
    .list-news-bottom-page .item-bottom-news h2 a {
      height: 85px;
      overflow: hidden;
      display: inline-block;
      width: 100%; }

.blogs-detail-body .content-blogs-detail {
  width: 800px;
  padding: 40px 0;
  margin: auto; }
  .blogs-detail-body .content-blogs-detail img {
    max-width: 100%;
    margin: 20px 0; }
  .blogs-detail-body .content-blogs-detail p {
    line-height: 30px; }
  .blogs-detail-body .content-blogs-detail h2 {
    font-size: 24px; }

.content-detail-market-report img {
  max-width: 100%; }
.content-detail-market-report p {
  line-height: 30px; }
.content-detail-market-report h2 {
  font-size: 24px; }
.content-detail-market-report ul {
  padding-left: 30px; }

.tags {
  position: relative;
  padding-left: 60px;
  width: 100%;
  display: inline-block;
  margin-top: 30px; }
  .tags p {
    position: absolute;
    left: 0;
    top: -5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500; }
  .tags a {
    background: #f6f8fd;
    margin: 0 4px;
    color: #0c0c0c;
    font-size: 12px;
    padding: 4px 10px;
    text-decoration: none;
    margin-top: 5px; }
    .tags a:hover {
      background-color: #0c0c0c;
      color: #fff; }

.category-blogs {
  margin-bottom: 40px; }
  .category-blogs .title-cate-blogs {
    border-top: 1px solid #ddd;
    padding: 10px 0;
    text-align: center; }
    .category-blogs .title-cate-blogs h2 {
      font-size: 36px;
      font-weight: normal; }
  .category-blogs ul li {
    list-style: none; }
    .category-blogs ul li .item-sub {
      background: #5a5a5a;
      border-bottom: 2px solid #ee0f0c; }
      .category-blogs ul li .item-sub a {
        color: #fff;
        text-decoration: none; }
      .category-blogs ul li .item-sub img {
        width: 100%;
        object-fit: cover;
        height: 200px; }
      .category-blogs ul li .item-sub h5 {
        font-size: 24px;
        padding: 10px 15px;
        font-weight: normal; }
      .category-blogs ul li .item-sub p {
        font-size: 14px;
        opacity: .5;
        padding: 0 15px;
        padding-bottom: 20px; }
      .category-blogs ul li .item-sub:hover, .category-blogs ul li .item-sub.active {
        background: #ee0f0c; }
        .category-blogs ul li .item-sub:hover p, .category-blogs ul li .item-sub.active p {
          opacity: .8; }

.hot-bottm-slider {
  float: left;
  margin-left: -15px;
  margin-right: -15px; }

.list-news-cate .content-hot-blogs {
  background: #f6f8fd;
  padding: 15px;
  padding-bottom: 0;
  margin-bottom: 30px; }

.pagging-body {
  text-align: center; }
  .pagging-body ul li a {
    color: #0c0c0c;
    border: 0 !important;
    border-radius: 0;
    box-shadow: none;
    padding: 0 25px;
    background: none !important; }
    .pagging-body ul li a i {
      font-size: 12px; }
    .pagging-body ul li a.active {
      color: #ee0f0c;
      font-size: 18px; }

.blogs-page-detail {
  background: #0c0c0c;
  padding-bottom: 30px;
  height: auto; }
  .blogs-page-detail img {
    width: 100%;
    margin-top: 30px; }
  .blogs-page-detail h1 {
    text-align: left;
    text-transform: none;
    margin-top: 30px; }
  .blogs-page-detail p {
    text-align: left;
    max-width: 100%;
    margin: auto; }

.focus-news {
  background: #5a5a5a;
  padding: 50px 0;
  margin: 30px 0; }
  .focus-news label {
    font-weight: normal;
    background: #a9a9a9;
    padding: 1px 10px;
    float: left;
    color: #fff !important;
    margin-right: 10px;
    font-size: 12px;
    margin-top: 5px; }
    .focus-news label a {
      color: #fff !important;
      text-transform: uppercase; }
  .focus-news .img-focus-news img {
    width: 100%;
    object-fit: cover; }
  .focus-news p {
    color: #fff; }
  .focus-news h2 {
    line-height: 30px;
    margin: 0;
    display: inline-block;
    width: 100%;
    color: #fff;
    padding: 0;
    margin-bottom: 10px; }
    .focus-news h2 a {
      color: #0c0c0c;
      color: #fff;
      font-size: 28px; }
  .focus-news .button-link-view {
    display: inline-block;
    margin-top: 10px;
    width: 100%; }
    .focus-news .button-link-view a {
      padding: 10px 20px;
      background: #ee0f0c;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase; }

.lager-columns {
  margin-top: 30px; }
  .lager-columns img {
    width: 100%; }

.content-lager-blogs {
  background: #f6f8fd;
  padding: 15px; }
  .content-lager-blogs h1 {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
    color: #0c0c0c;
    padding: 0;
    margin: 0;
    margin-bottom: 10px; }
    .content-lager-blogs h1 a {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
      color: #0c0c0c;
      padding: 0;
      margin: 0; }
  .content-lager-blogs label {
    text-transform: uppercase;
    color: #0c0c0c;
    opacity: .7; }
    .content-lager-blogs label a {
      color: #0c0c0c;
      opacity: .7; }

.hot-news-page {
  margin: 30px 0; }
  .hot-news-page label {
    text-transform: uppercase;
    color: #0c0c0c;
    display: inline-block;
    margin-top: 5px;
    padding: 2px 10px;
    background: #d8d8d8; }
    .hot-news-page label a {
      color: #0c0c0c;
      font-size: 12px;
      font-weight: normal;
      opacity: .7; }
  .hot-news-page img {
    width: 100%; }
  .hot-news-page h2 {
    line-height: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px; }
    .hot-news-page h2 a {
      color: #0c0c0c;
      font-size: 18px; }

.right-columns-hot .hot-news-page {
  padding: 0 15px;
  margin-bottom: 0; }
  .right-columns-hot .hot-news-page h2 {
    line-height: 14px; }
    .right-columns-hot .hot-news-page h2 a {
      font-size: 14px;
      line-height: 20px; }

.client-ul ul li {
  background: #fff;
  padding: 20px 10px;
  border: 1px solid #f6f8fd; }

.client-body {
  background: #fff; }
  .client-body ul li {
    list-style: none;
    text-align: center; }

.contact-body {
  padding: 40px 0;
  display: inline-block;
  width: 100%; }
  .contact-body .infor-contact img {
    max-width: 100%;
    margin-top: 20px; }
  .contact-body .infor-contact p {
    width: 100%;
    float: left;
    padding-left: 30px;
    margin: 0;
    margin-bottom: 15px;
    position: relative; }
    .contact-body .infor-contact p i {
      position: absolute;
      left: 0;
      font-size: 18px;
      top: 5px; }
    .contact-body .infor-contact p a {
      font-size: 18px;
      color: #0c0c0c;
      font-weight: normal; }
    .contact-body .infor-contact p span {
      font-size: 14px; }

.link-requestment {
  text-align: center;
  margin-top: 30px; }
  .link-requestment a {
    display: inline-flex;
    padding: 15px 40px;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 50px;
    margin: 0 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff; }
    .link-requestment a:nth-child(2) {
      background: #ee0f0c;
      color: #fff;
      border: 1px solid #ee0f0c; }

.form-contact2 {
  margin-top: 0; }
  .form-contact2 .form-request-page {
    width: 370px;
    float: right; }
    .form-contact2 .form-request-page h2, .form-contact2 .form-request-page p {
      width: 100%;
      display: inline-block;
      margin-top: 0; }
  .form-contact2 input, .form-contact2 textarea {
    float: left;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #d7d7d7; }
  .form-contact2 textarea {
    height: 100px; }

.map-contact {
  margin: 40px 0; }
  .map-contact iframe {
    width: 100%;
    height: 500px; }

.content-sercices-1 {
  display: inline-block;
  width: 100%; }

.example-thankyou {
  padding: 30px 0;
  margin-bottom: 80px; }
  .example-thankyou img {
    width: 100%; }

.propose-page h3, .result-page h3 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
  width: 100%;
  display: inline-block;
  font-weight: 700; }
.propose-page p, .result-page p {
  font-size: 14px;
  max-width: 70%;
  text-align: center;
  margin: auto; }

.thank-you-page {
  display: inline-block;
  width: 100%; }
  .thank-you-page__content {
    background: #fff;
    width: 1000px;
    padding: 0 6%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
    border-radius: 4px 4px 0 0;
    margin-top: -60px; }
    .thank-you-page__content h1 {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
      color: #0c0c0c; }
    .thank-you-page__content p {
      font-size: 16px;
      padding: 15px 0 30px 0; }
    .thank-you-page__content button {
      background: #ee0f0c;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      width: 230px;
      padding: 15px 15px;
      border: 0;
      margin-bottom: 20px; }
      .thank-you-page__content button:hover {
        opacity: .8; }

.result-page ul {
  margin-top: 30px; }
  .result-page ul li {
    float: left;
    width: 33.3%;
    list-style: none;
    padding: 0 15px;
    margin-top: 30px; }
    .result-page ul li .item-result {
      width: 100%;
      text-align: center;
      background: #fff;
      padding: 50px 20px;
      min-height: 349px;
      box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px; }
      .result-page ul li .item-result i {
        font-size: 60px;
        margin-bottom: 15px;
        display: inline-block; }
      .result-page ul li .item-result h5 {
        font-size: 18px;
        height: 60px;
        font-weight: bold; }
      .result-page ul li .item-result p {
        font-size: 14px;
        max-width: 100%;
        height: 170px;
        margin: auto; }

.MB-img {
  display: none; }

.tab-propose {
  position: relative;
  padding-left: 250px;
  margin-top: 30px; }
  .tab-propose .lap_editor ul {
    position: relative !important;
    width: auto !important;
    text-align: left; }
    .tab-propose .lap_editor ul li {
      padding-bottom: 10px !important;
      border: 0 !important; }
      .tab-propose .lap_editor ul li p {
        text-align: left;
        max-width: initial;
        width: 100%; }
  .tab-propose ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    border: 0; }
    .tab-propose ul li {
      width: 100%;
      border-radius: 0;
      float: left;
      position: relative;
      margin-bottom: 0px;
      border: 0;
      border-bottom: 1px solid #848484; }
      .tab-propose ul li a {
        float: left;
        border-radius: 0;
        width: 100%;
        border: 0 !important;
        background: #616161;
        color: #fff;
        padding: 20px 15px; }
        .tab-propose ul li a:hover {
          background: #616161 !important; }
        .tab-propose ul li a span {
          font-size: 27px;
          position: absolute;
          right: 5px;
          top: 10px; }
      .tab-propose ul li.active a {
        background: #fff !important;
        border: 0; }
  .tab-propose .tab-content {
    padding-left: 30px; }
    .tab-propose .tab-content .img-example img {
      object-fit: cover;
      width: 100%; }
    .tab-propose .tab-content .description-tab-propose {
      position: relative;
      margin: 20px 0;
      padding-left: 30px; }
      .tab-propose .tab-content .description-tab-propose img {
        position: absolute;
        left: 0;
        top: 0; }
      .tab-propose .tab-content .description-tab-propose p {
        max-width: 100%;
        margin: 0;
        text-align: left; }
      .tab-propose .tab-content .description-tab-propose h5 {
        font-weight: 600; }

/*--css tab --*/
.menu-tab {
  margin-bottom: 0; }

.navbar {
  background-color: #efefef;
  width: 100%;
  text-align: center;
  z-index: 1; }

.navbar-items {
  padding: 12px 0 0 0;
  font-size: 1.25rem; }

.navbar-items li {
  list-style: none;
  display: inline-block; }

.navbar-items li + li {
  margin-left: 20px; }

.navbar-items li a {
  color: #0c0c0c;
  text-decoration: none;
  position: relative; }

.navbar-items li a::after {
  width: 0;
  content: "";
  height: 2px;
  background-color: #ee0f0c;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width .3s ease; }

.navbar-items li a.active {
  color: #ee0f0c; }

.navbar-items li a.active::after {
  width: 30px; }

/*-- end tab --*/
.content-tab-1 {
  float: left;
  width: 100%;
  padding: 80px 0;
  background: #fff; }

.content-first {
  float: left;
  background: #fff;
  padding: 60px 0;
  width: 100%; }

.sub-content {
  display: inline-block; }
  .sub-content label {
    font-weight: normal;
    position: relative;
    padding-left: 20px;
    font-size: 14px; }
    .sub-content label::before {
      position: absolute;
      top: 7px;
      left: 0;
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      background: #a5a5a5;
      border-radius: 50%; }

.first-left-columns ul li {
  position: relative;
  list-style: none;
  float: left;
  width: 100%;
  padding: 15px 0; }
  .first-left-columns ul li i {
    position: absolute;
    left: 0;
    top: 14px;
    opacity: .7;
    font-size: 60px; }
  .first-left-columns ul li .description-first {
    float: left;
    padding-left: 90px; }
    .first-left-columns ul li .description-first h6 {
      font-size: 20px;
      font-weight: 500;
      margin-top: 10px; }
    .first-left-columns ul li .description-first p {
      font-weight: normal;
      opacity: .6;
      font-size: 14px; }

.services4-box ul li {
  padding: 0 10px;
  list-style: none;
  margin-bottom: 30px; }
  .services4-box ul li .item-services4-box {
    background: #f6f8fd; }
    .services4-box ul li .item-services4-box img {
      object-fit: cover;
      width: 100%;
      max-height: 200px; }
    .services4-box ul li .item-services4-box h3 {
      font-size: 14px;
      padding: 20px 15px;
      font-weight: 500;
      margin: 0; }

.list-pr-services {
  margin-top: 40px;
  display: inline-block;
  width: 100%; }
  .list-pr-services ul li {
    padding: 0 10px;
    list-style: none;
    margin-bottom: 30px; }
  .list-pr-services ul .item-list-pr-services {
    border: 1px solid #e8e8e8;
    box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
    text-align: center;
    background: #fff; }
    .list-pr-services ul .item-list-pr-services i {
      margin: 30px 0 10px 0;
      font-size: 60px;
      display: inline-block;
      width: 100%;
      opacity: .7; }
    .list-pr-services ul .item-list-pr-services h6 {
      padding: 20px 15px;
      font-size: 16px;
      height: 70px;
      font-weight: 600;
      margin: 0; }

.title-our-online {
  text-align: center;
  float: left;
  width: 100%;
  margin: 30px 0 0 0; }
  .title-our-online h3 {
    font-size: 18px;
    margin: 30px 0 0 0;
    text-transform: uppercase;
    font-weight: 600; }

.tab1-content-left img {
  width: 100%;
  object-fit: cover; }

.blocks {
  background: #fff; }

.multi-chanel {
  padding: 40px 0;
  margin-bottom: 30px; }

.tab1-content-right h3 {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 20px; }
.tab1-content-right p {
  font-size: 14px; }
.tab1-content-right h4 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
  font-size: 14px; }
.tab1-content-right ul li {
  padding-left: 30px;
  list-style: none;
  position: relative;
  margin: 10px 0; }
  .tab1-content-right ul li img {
    position: absolute;
    left: 0;
    top: 0px; }
  .tab1-content-right ul li p {
    display: inline-block;
    font-size: 14px;
    width: 100%; }

.first-right-columns .form-request-page {
  background: #f6f8fd;
  padding: 20px;
  float: left;
  width: 100%;
  box-shadow: rgba(79, 79, 79, 0.2) 0px 0.2rem 2rem 0px; }
  .first-right-columns .form-request-page h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px 0; }
  .first-right-columns .form-request-page form {
    margin-top: 20px; }
    .first-right-columns .form-request-page form input {
      float: left;
      width: 100%;
      height: 40px;
      padding: 0 10px;
      border: 1px solid #d7d7d7; }
      .first-right-columns .form-request-page form input:focus {
        border: 1px solid #ee0f0c;
        box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px; }
    .first-right-columns .form-request-page form textarea {
      float: left;
      width: 100%;
      height: 70px;
      padding: 0 10px;
      border: 1px solid #d7d7d7; }
      .first-right-columns .form-request-page form textarea:focus {
        border: 1px solid #ee0f0c;
        box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px; }

.how-we-work .container {
  position: relative; }

.img-background {
  position: absolute;
  top: 60px;
  left: 55px;
  width: 100%; }
  .img-background img {
    width: 1050px;
    height: 309px; }

.banner-servicces2 {
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 40PX;
  text-align: center; }
  .banner-servicces2 h6 {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    max-width: 70%;
    margin: auto; }
  .banner-servicces2 img {
    max-width: 100%;
    margin: 50px 0 40px 0; }

/*--table--*/
.table-services-3 table thead th {
  background: #ee0f0c;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700; }
.table-services-3 table thead h3 {
  margin-bottom: 0 !important; }
.table-services-3 table tr td {
  vertical-align: top; }
  .table-services-3 table tr td:nth-child(4) {
    vertical-align: top;
    text-align: center; }
    .table-services-3 table tr td:nth-child(4) h6 {
      font-size: 16px;
      color: #fff; }

.seo-agency-page {
  display: inline-block;
  width: 100%;
  padding: 40px 0; }
  .seo-agency-page ul li {
    margin-bottom: 30px; }
    .seo-agency-page ul li .item-result {
      min-height: 389px; }
    .seo-agency-page ul li p {
      height: 70px; }

.our-primary {
  display: inline-block;
  width: 100%;
  padding: 50px 0; }
  .our-primary h2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    width: 100%;
    display: inline-block;
    font-weight: 700; }
  .our-primary ul li {
    float: left;
    width: 33.3%;
    list-style: none;
    padding: 0 15px;
    margin-bottom: 30px; }
    .our-primary ul li .item-primary {
      float: left;
      width: 100%;
      background: #fff; }
      .our-primary ul li .item-primary a {
        color: #0c0c0c;
        text-decoration: none; }
      .our-primary ul li .item-primary img {
        width: 100%;
        max-height: 200px;
        object-fit: cover; }
      .our-primary ul li .item-primary h6 {
        font-size: 18px;
        height: 48px;
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0;
        display: inline-block; }
      .our-primary ul li .item-primary p {
        font-size: 14px;
        opacity: .5;
        margin-top: 10px;
        display: inline-block;
        width: 100%;
        height: 80px; }
      .our-primary ul li .item-primary .button-detail {
        float: right;
        font-weight: bold;
        color: #ee0f0c;
        font-size: 14px; }
        .our-primary ul li .item-primary .button-detail a {
          color: #ee0f0c;
          text-decoration: underline; }

.reseach-box {
  margin: 30px  0;
  display: inline-block;
  width: 100%; }

.img-research {
  float: left;
  width: 45%; }

.item-search-box {
  float: left;
  margin-top: 40px; }
  .item-search-box img {
    object-fit: cover;
    width: 100%; }

.content-research {
  float: left;
  width: 55%;
  padding-left: 30px; }
  .content-research h4 a {
    font-size: 18px;
    font-weight: 600;
    color: #0c0c0c; }
  .content-research p {
    font-size: 14px;
    opacity: .7; }

.content-our-pramiry {
  position: relative;
  background: #f6f8fd;
  display: inline-block;
  width: 100%;
  padding: 15px; }

.description-form-contact {
  padding: 0 0 40px 0; }
  .description-form-contact h6 {
    font-size: 22px;
    font-weight: 200px;
    text-align: center;
    max-width: 70%;
    margin: auto;
    line-height: 38px; }

.content-table-services {
  position: relative;
  padding-left: 30px; }
  .content-table-services img {
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px; }
  .content-table-services p {
    font-size: 14px; }

.growth-box {
  background: #f6f8fd;
  text-align: center;
  margin-bottom: 30px;
  padding: 50px 0; }
  .growth-box h2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    width: 100%;
    display: inline-block;
    font-weight: 700; }
  .growth-box .link-requestment {
    text-align: center;
    margin-top: 30px; }
    .growth-box .link-requestment a {
      display: inline-flex;
      padding: 15px 40px;
      border: 1px solid #0c0c0c;
      text-decoration: none;
      border-radius: 50px;
      margin: 0 5px;
      background: #0c0c0c;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      color: #fff; }
      .growth-box .link-requestment a:nth-child(2) {
        background: #ee0f0c;
        color: #fff;
        border: 1px solid #ee0f0c; }

.our-partner p {
  font-size: 14px;
  padding: 30px 0;
  line-height: 28px;
  color: #1a1a1a; }
.our-partner .quick-box {
  border: 1px solid #e0e0e0; }
  .our-partner .quick-box h2 {
    background: #d8d8d8;
    font-weight: 600;
    opacity: .7;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 15px; }
  .our-partner .quick-box h6 {
    font-size: 16px;
    font-weight: 500;
    padding: 0 15px; }
  .our-partner .quick-box ul {
    padding-left: 30px;
    padding-right: 15px; }
    .our-partner .quick-box ul li {
      padding: 5px 0; }
      .our-partner .quick-box ul li a {
        color: #333;
        font-size: 13px; }

.why-is-seo {
  display: inline-block;
  width: 100%;
  padding: 40px 0; }
  .why-is-seo .content-why-seo {
    border-top: 1px solid #ddd;
    padding-top: 50px;
    float: left;
    width: 100%;
    margin-top: 20px; }
    .why-is-seo .content-why-seo .seo-img img {
      width: 100%;
      object-fit: cover; }
    .why-is-seo .content-why-seo .seo-content {
      display: inline-block;
      margin: 10px 0; }
      .why-is-seo .content-why-seo .seo-content h2 {
        text-transform: uppercase;
        font-size: 20px;
        margin: 20px 0 10px 0;
        font-weight: 600; }
      .why-is-seo .content-why-seo .seo-content p {
        font-size: 13px;
        color: #525252;
        font-weight: normal;
        line-height: 23px;
        text-transform: none; }

.market-report-body {
  padding: 40px 0; }
  .market-report-body .market-lager .market-lager-img {
    float: left;
    width: 50%; }
    .market-report-body .market-lager .market-lager-img img {
      object-fit: cover;
      width: 100%; }
  .market-report-body .market-lager .market-lager-infor {
    float: left;
    width: 50%;
    padding-left: 40px; }
    .market-report-body .market-lager .market-lager-infor h1 {
      font-size: 45px;
      margin: 0;
      padding: 0;
      margin-bottom: 20px; }
      .market-report-body .market-lager .market-lager-infor h1 a {
        font-weight: 700;
        color: #0c0c0c;
        text-decoration: none; }
    .market-report-body .market-lager .market-lager-infor p {
      margin: 20px 0; }
    .market-report-body .market-lager .market-lager-infor label a {
      color: #ee0f0c;
      text-decoration: underline; }

.form-apply .upload-file input {
  padding: 0 !important;
  box-shadow: none;
  outline: none;
  border: 0 !important; }
.form-apply .upload-file label {
  font-weight: normal; }

.content-hot-blogs h2 {
  overflow: hidden; }

.blocks.how-we-work h2 {
  text-transform: none !important;
  margin-bottom: 40px; }
.blocks.how-we-work ul {
  margin-top: 120px !important; }
.blocks.how-we-work .img-background {
  top: 97px !important; }

.list-news-bottom-page.market-report-item {
  margin-left: -15px !important;
  margin-right: -15px !important;
  width: 100%;
  display: inline-block; }
  .list-news-bottom-page.market-report-item h2 {
    text-align: left; }
    .list-news-bottom-page.market-report-item h2 a {
      font-size: 18px !important;
      line-height: 25px;
      height: 100px; }
  .list-news-bottom-page.market-report-item .content-hot-blogs {
    text-align: right;
    padding-bottom: 20px;
    width: 100%; }
  .list-news-bottom-page.market-report-item a.learn-more {
    color: #ee0f0c;
    font-weight: 600;
    font-size: 13px;
    text-decoration: underline !important; }

.mauticform-row {
  margin-bottom: 15px;
  display: inline-block;
  width: 100%; }
  .mauticform-row b {
    color: #ee0f0c !important; }
  .mauticform-row span {
    color: #ee0f0c;
    font-weight: normal;
    text-align: right;
    display: inline-block;
    width: 100%;
    font-size: 12px; }
  .mauticform-row button {
    padding: 12px 25px;
    color: #fff;
    background: #ee0f0c;
    border: 0;
    float: right;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }

.popup-thankyou {
  text-align: center; }
  .popup-thankyou .modal-dialog {
    width: 400px;
    margin-top: 15%; }
  .popup-thankyou p {
    font-size: 16px;
    padding: 20px 0  30px 0; }
  .popup-thankyou .modal-header {
    border: 0;
    padding-bottom: 0; }

/*# sourceMappingURL=style.css.map */
