@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  outline: none;
  margin: 0;
  text-decoration: none; }

body {
  background: #f6f8fd;
  width: 100%;
  font-family: 'Poppins', sans-serif; }

.logo {
  width: 100%;
  text-align: center; }
  .logo img {
    height: 60px; }

header {
  padding: 15px;
  position: relative;
  z-index: 1;
  background-size: cover; }

.social-phone-menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px; }

.phone {
  float: left;
  margin-right: 10px;
  opacity: .7; }
  .phone:hover {
    opacity: 1; }
  .phone i {
    color: #fff;
    font-size: 20px; }
  .phone a {
    font-size: 16px;
    color: #fff;
    opacity: .7; }
    .phone a:hover {
      opacity: 1; }

.social {
  float: left; }
  .social a {
    float: left;
    padding-left: 10px;
    opacity: .7; }
    .social a:hover {
      opacity: 1; }
  .social i {
    font-size: 14px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    color: #0c0c0c;
    display: block;
    text-align: center;
    padding-top: 2px; }

.menu {
  float: left;
  padding-left: 30px;
  opacity: .7;
  margin-top: -5px;
  cursor: pointer; }
  .menu:hover {
    opacity: 1; }
  .menu i {
    font-size: 25px;
    color: #fff; }

.slider-body {
  background: url(../images/background-slider.jpg) no-repeat center top;
  height: 682px;
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-top: -90px;
  padding-top: 16%; }
  .slider-body .title-slider h6 {
    font-size: 25px;
    color: #fff; }
  .slider-body .title-slider h1 {
    font-size: 70px;
    font-weight: 600;
    color: #fff; }
    .slider-body .title-slider h1 img {
      height: 53px;
      display: initial;
      margin-top: -11px; }

.animated-mouse {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 27px;
  height: 47px;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
  border-radius: 14px;
  margin-top: 50px;
  opacity: .5; }
  .animated-mouse-pointer {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #fff;
    left: 50%;
    top: 70%;
    transform: translate(-50%, 0);
    animation-name: mousePointer;
    animation-duration: 2s;
    animation-iteration-count: 10;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-delay: .6s; }

@keyframes mousePointer {
  0% {
    opacity: 0;
    top: 70%; }
  20% {
    opacity: 1;
    top: 70%; }
  40% {
    opacity: 1;
    top: 70%; }
  60% {
    opacity: 1;
    top: 20%; }
  61% {
    opacity: 1;
    top: 20%; }
  67% {
    opacity: 0;
    top: 20%; }
  100% {
    opacity: 0;
    top: 20%; } }
.services-body {
  padding: 50px 0; }
  .services-body .title-services {
    text-align: center;
    width: 90%;
    margin: auto; }
    .services-body .title-services h2 {
      font-size: 26px;
      font-weight: 700;
      text-transform: uppercase;
      color: #0c0c0c; }
    .services-body .title-services p {
      font-size: 12px;
      color: #a6a6a6; }
  .services-body ul {
    margin-top: 30px; }
    .services-body ul li {
      list-style: none;
      width: 25%;
      float: left;
      padding: 0 10px; }
      .services-body ul li .item-services {
        box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
        background: #fff;
        padding: 25px 15px 20px 15px;
        display: inline-block;
        height: 200px;
        margin-bottom: 20px;
        width: 100%;
        transition: all .2s linear;
        text-align: center; }
        .services-body ul li .item-services a {
          color: #0c0c0c;
          text-decoration: none; }
        .services-body ul li .item-services img {
          max-height: 60px; }
          .services-body ul li .item-services img.s-hover {
            display: none; }
        .services-body ul li .item-services h6 {
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          height: 50px;
          margin-top: 15px; }
        .services-body ul li .item-services span {
          float: right;
          font-size: 15px; }
        .services-body ul li .item-services:hover {
          background: #ee0f0c; }
          .services-body ul li .item-services:hover img.s-hover {
            display: inline; }
          .services-body ul li .item-services:hover img.s-default {
            display: none; }
          .services-body ul li .item-services:hover h6, .services-body ul li .item-services:hover span {
            color: #fff; }
      .services-body ul li label {
        font-weight: normal;
        font-size: 10px;
        color: #b0b0b0;
        height: 110px;
        overflow: hidden; }

.request-action {
  background: url(../images/h-background-action.jpg) no-repeat center top;
  height: 294px;
  padding: 70px 0;
  text-align: center; }
  .request-action h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px; }
  .request-action a {
    display: inline-flex;
    padding: 15px 40px;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 50px;
    margin: 0 5px;
    font-size: 16px;
    color: #fff; }
    .request-action a:hover {
      opacity: .8; }
  .request-action a:nth-child(3) {
    background: #ee0f0c;
    color: #fff;
    border: 1px solid #ee0f0c; }

.how-we-work {
  padding: 40px 0; }
  .how-we-work h2 {
    font-size: 26px;
    color: #0c0c0c;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
  .how-we-work ul {
    margin-top: 80px; }
    .how-we-work ul li {
      float: left;
      padding: 0 5px;
      width: 12.5%;
      list-style: none; }
      .how-we-work ul li .item-how-work {
        background: #fff;
        box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
        padding: 15px 5px;
        text-align: center; }
        .how-we-work ul li .item-how-work img {
          height: 53px;
          opacity: .4; }
        .how-we-work ul li .item-how-work h4 {
          font-size: 13px;
          color: #0c0c0c;
          height: 53px; }
      .how-we-work ul li:nth-child(odd) {
        margin-top: -30px; }

.title-report p {
  text-align: center;
  font-size: 12px;
  max-width: 80%;
  color: #a6a6a6;
  margin: auto; }
.title-report h2 {
  font-size: 26px;
  color: #0c0c0c;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }

.item-report-lager {
  float: left;
  margin: 20px 0; }
  .item-report-lager img {
    width: 100%;
    margin-bottom: 10px;
    height: 272px;
    object-fit: cover; }
  .item-report-lager h5 a {
    font-weight: 700;
    font-size: 14px;
    margin-top: 15px;
    color: #0c0c0c; }

.item-report-small {
  float: left;
  margin: 20px 0; }
  .item-report-small img {
    width: 100%;
    margin-bottom: 10px;
    height: 150px;
    object-fit: cover; }
  .item-report-small h6 {
    margin: 0; }
    .item-report-small h6 a {
      font-weight: 400;
      font-size: 14px;
      margin-top: 5px;
      line-height: 23px;
      color: #0c0c0c; }

.item-small-link {
  position: relative; }
  .item-small-link i {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 12px;
    color: #8d8d8d; }
  .item-small-link p {
    padding-left: 10px;
    color: #0c0c0c;
    font-size: 14px; }

.button-view-all {
  float: left;
  width: 100%;
  margin: 20px 0;
  text-align: center; }
  .button-view-all a {
    display: inline-flex;
    transition: all .2s linear;
    padding: 7px 25px;
    text-decoration: none;
    border: 1px solid #ee0f0c;
    color: #ee0f0c;
    text-transform: uppercase; }
    .button-view-all a i {
      margin: 3px; }
    .button-view-all a:hover {
      background: #ee0f0c;
      color: #fff; }

.section-country ul {
  float: left;
  width: 100%;
  margin-top: 30px; }
  .section-country ul li {
    width: 14.2%;
    float: left;
    list-style: none;
    text-align: center;
    list-style: none;
    padding: 0 5px; }
    .section-country ul li p {
      height: 70px;
      padding: 15px 5px;
      font-size: 14px;
      background: #fff;
      box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px; }

.maps-place {
  margin-top: 30px;
  float: left;
  width: 100%; }
  .maps-place img {
    max-width: 100%; }

.client-section {
  background: #ee0f0c url(../images/background-client.jpg) no-repeat center top;
  padding: 50px 0; }
  .client-section .title-report h2, .client-section .title-report p {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
