* {
  padding: 0;
  outline: none;
  margin: 0;
  text-decoration: none; }

.market-report-body {
  display: inline-block;
  width: 100%;
  position: relative; }

.update-sidebar {
  margin-bottom: 30px; }
  .update-sidebar h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #0c0c0c;
    margin: 0 0 10px 0; }
  .update-sidebar nav ul {
    padding: 0;
    margin: 0; }
    .update-sidebar nav ul li {
      list-style: none !important; }
      .update-sidebar nav ul li a {
        color: #0c0c0c;
        padding: 6px 0;
        display: inline-block;
        width: 100%;
        opacity: .7; }
        .update-sidebar nav ul li a:hover {
          color: #ee0f0c;
          opacity: 1; }
  .update-sidebar .dropdown button {
    width: 100%;
    display: inline-block;
    text-align: left;
    background: none;
    position: relative;
    height: 40px;
    padding: 5px 15px;
    border: 1px solid #dfdfdf;
    border-radius: 1px; }
    .update-sidebar .dropdown button::after {
      content: "\e64b";
      display: block;
      position: absolute;
      right: 10px;
      font-family: 'themify';
      top: 10px;
      font-size: 12px; }
  .update-sidebar .hs-menu-inner {
    display: inline-block;
    width: 100%;
    padding: 10px; }
    .update-sidebar .hs-menu-inner a {
      display: inline-block;
      width: 100%;
      padding: 5px 0;
      color: #0c0c0c;
      opacity: .6; }
      .update-sidebar .hs-menu-inner a:hover {
        color: #ee0f0c;
        opacity: 1; }
  .update-sidebar .hs-searchbox {
    padding: 0 10px; }
    .update-sidebar .hs-searchbox input {
      box-shadow: none !important; }

.thumnails {
  position: relative;
  padding-top: 77%;
  width: 100%;
  display: block; }

.thumnails img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  left: 0;
  top: 0; }

/*--check box--*/
.pos-checkbox-status {
  margin: 10px 0 0 0;
  float: left; }
  .pos-checkbox-status .pos-check-content {
    margin-bottom: 15px; }
  .pos-checkbox-status label::before {
    border: 1px solid #0c0c0c; }
  .pos-checkbox-status label span {
    margin-top: 0px;
    float: right;
    color: #0c0c0c;
    font-weight: normal;
    position: relative; }
    .pos-checkbox-status label span .styled-checkbox:checked + label:before {
      background: #fff;
      border: 1px solid #0c0c0c !important; }
  .pos-checkbox-status .styled-checkbox {
    position: absolute;
    opacity: 0; }
    .pos-checkbox-status .styled-checkbox + label {
      position: relative;
      cursor: pointer;
      padding: 0; }
    .pos-checkbox-status .styled-checkbox + label:before {
      content: '';
      margin-right: 7px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      border-radius: 2px;
      height: 20px;
      background: white; }
    .pos-checkbox-status .styled-checkbox:checked + label:before {
      background: #fff;
      border: 1px solid #0c0c0c; }
    .pos-checkbox-status .styled-checkbox:disabled + label {
      color: #b8b8b8;
      cursor: auto; }
    .pos-checkbox-status .styled-checkbox:disabled + label:before {
      box-shadow: none;
      background: #fff; }
    .pos-checkbox-status .styled-checkbox:checked + label:after {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 7px;
      width: 6px;
      color: #0c0c0c;
      background: white;
      height: 13px;
      box-shadow: none !important;
      border: solid;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg); }

/*-- end check box --*/
.update-list-market {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #E3E8F1; }

.update-avatar {
  width: 170px;
  position: absolute;
  left: 20px; }

.update-item-market {
  display: inline-block;
  width: 100%;
  border: 1px solid #E3E8F1;
  position: relative;
  padding: 20px 150px 20px 220px;
  border-bottom: 0; }
  .update-item-market:hover {
    background: #F5F7FB; }
  .update-item-market .update-infor-market h2 {
    font-size: 18px;
    font-weight: bold;
    color: #0c0c0c;
    margin-top: 0; }
    .update-item-market .update-infor-market h2 a {
      text-decoration: none; }
    .update-item-market .update-infor-market h2:hover {
      color: #ee0f0c; }
  .update-item-market .update-infor-market span {
    font-size: 13px;
    color: #0c0c0c;
    opacity: .5; }
  .update-item-market .update-infor-market p {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    line-height: 23px; }
  .update-item-market .update-infor-market label {
    font-size: 13px;
    color: #0c0c0c;
    font-weight: normal;
    opacity: .5; }
  .update-item-market .update-btn-action {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 110px; }
    .update-item-market .update-btn-action a {
      display: inline-block;
      width: 100%;
      height: 40px;
      border-radius: 1px;
      padding: 10px 10px;
      text-align: center;
      text-transform: uppercase; }
      .update-item-market .update-btn-action a.update-btn-download {
        background: #ee0f0c;
        border: 1px solid #ee0f0c;
        color: white;
        font-size: 13px;
        margin-bottom: 10px;
        text-transform: uppercase; }
      .update-item-market .update-btn-action a.update-btn-detail {
        background: none;
        border: 1px solid #0c0c0c;
        color: #0c0c0c;
        font-size: 13px;
        text-transform: uppercase; }

.hierarchy-select {
  min-width: inherit !important; }

.update-sidebar-menu {
  display: none; }

.update-btn-close {
  display: none; }

.update-market-detail-page {
  height: inherit;
  background: #000 url(../images/bg-market-detail.png) no-repeat center bottom;
  background-size: cover;
  padding-top: 120px; }
  .update-market-detail-page .breadcrumb {
    margin-bottom: 30px; }

.update-market-detail-infor {
  margin-top: 30px;
  text-align: left; }
  .update-market-detail-infor h1, .update-market-detail-infor p, .update-market-detail-infor span, .update-market-detail-infor label {
    text-align: left;
    font-weight: normal;
    color: white;
    opacity: .7;
    margin: 0; }
  .update-market-detail-infor h1 {
    font-weight: bold;
    opacity: 1;
    text-transform: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px; }
  .update-market-detail-infor p {
    padding: 0  !important;
    width: 100%;
    max-width: 100%;
    margin: 20px 0; }

.update-btn-action {
  width: 100%;
  display: inline-block;
  margin-top: 20px; }
  .update-btn-action a {
    background: #ee0f0c;
    width: 200px;
    height: 50px;
    color: white;
    display: block;
    text-align: center;
    padding-top: 13px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold; }

.update-tag {
  display: inline-block;
  width: 100%;
  margin: 30px 0; }
  .update-tag span {
    float: left;
    font-size: 13px;
    margin-top: 5px; }
  .update-tag a {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 10px;
    color: #444444;
    border: 1px solid #dfdfdf; }
    .update-tag a:hover {
      border: 1px solid #ee0f0c;
      color: #ee0f0c; }

.update-contet-pagedetail {
  padding: 30px 0; }
  .update-contet-pagedetail .container {
    max-width: 900px; }
    .update-contet-pagedetail .container img {
      max-width: 100%; }
  .update-contet-pagedetail p, .update-contet-pagedetail span, .update-contet-pagedetail label {
    color: #444444; }
  .update-contet-pagedetail h2 {
    font-size: 26px; }
  .update-contet-pagedetail p {
    line-height: 26px; }
  .update-contet-pagedetail .update-sumary-content {
    width: 300px;
    background: #F5F7FB;
    margin-left: 50px;
    border: 1px solid #E5E5E5;
    float: right; }
    .update-contet-pagedetail .update-sumary-content h6 {
      display: inline-block;
      width: 100%;
      padding: 10px 15px;
      color: #0c0c0c;
      margin: 0;
      font-size: 16px;
      padding-block-end: 5px 15px;
      border-bottom: 1px solid #E5E5E5; }
    .update-contet-pagedetail .update-sumary-content nav ul {
      padding: 10px 0;
      margin: 0;
      padding-left: 30px; }
      .update-contet-pagedetail .update-sumary-content nav ul li::marker {
        color: gray; }
      .update-contet-pagedetail .update-sumary-content nav ul li a {
        padding: 5px 15px;
        padding-left: 0;
        color: #0c0c0c;
        display: block;
        opacity: .6;
        font-size: 13px; }
        .update-contet-pagedetail .update-sumary-content nav ul li a:hover {
          color: #ee0f0c; }

.update-Related-Articles {
  padding: 50px 0;
  display: inline-block;
  width: 100%;
  background: #f6f8fd; }
  .update-Related-Articles .update-infor-market {
    background: white;
    padding: 15px; }
    .update-Related-Articles .update-infor-market p {
      display: none !important; }
  .update-Related-Articles h2 a {
    color: #0c0c0c;
    opacity: .8; }
    .update-Related-Articles h2 a:hover {
      opacity: 1;
      color: #ee0f0c !important; }
  .update-Related-Articles .update-item-market {
    background: white;
    padding-bottom: 0 !important;
    margin-bottom: 0;
    border-bottom: 1px solid #E3E8F1; }
  .update-Related-Articles .update-btn-action {
    position: relative;
    right: inherit;
    top: inherit;
    background: white;
    width: 100%;
    padding: 0 15px;
    padding-bottom: 0px;
    margin-top: 0; }
    .update-Related-Articles .update-btn-action a {
      float: left;
      width: 49%; }
      .update-Related-Articles .update-btn-action a.update-btn-download {
        margin-right: .5%; }
      .update-Related-Articles .update-btn-action a.update-btn-detail {
        margin-left: .5%; }
  .update-Related-Articles .update-item-market {
    padding: 0 !important; }
    .update-Related-Articles .update-item-market .update-avatar {
      position: relative;
      display: inline-block;
      left: 0;
      width: 100%; }

.update-title-related {
  display: inline-block;
  width: 100%;
  padding: 0px 0 40px 0; }
  .update-title-related h2 {
    text-align: center;
    font-size: 22px;
    margin: 0;
    font-weight: bold;
    padding: 0;
    text-transform: uppercase;
    position: relative; }
    .update-title-related h2::after {
      content: '';
      display: block;
      margin: auto;
      width: 100px;
      margin-top: 10px;
      height: 2px;
      background: #ee0f0c; }

.update-popup-information input {
  box-shadow: none;
  outline: none;
  border-radius: 1px;
  height: 40px;
  border: 1px solid #dfdfdf; }
.update-popup-information label {
  font-weight: normal;
  opacity: .6; }

.update-btn-action-form {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 10px; }
  .update-btn-action-form button {
    height: 50px;
    background: #ee0f0c !important;
    color: white !important;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 1px;
    border: 0;
    align-content: center;
    font-weight: bold; }
    .update-btn-action-form button:hover {
      opacity: .8; }

.update-popup-information {
  position: relative;
  padding: 30px;
  padding-top: 10px; }
  .update-popup-information .update-btn-close-popup {
    position: absolute;
    right: -10px !important;
    border: 0;
    background: none;
    top: 10px !important;
    display: block !important; }
    .update-popup-information .update-btn-close-popup i {
      color: #0c0c0c;
      font-size: 20px; }
      .update-popup-information .update-btn-close-popup i:hover {
        color: #ee0f0c; }
  .update-popup-information h4 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px; }

form .dropdown button {
  width: 100%;
  display: inline-block;
  text-align: left;
  background: none;
  position: relative;
  height: 40px;
  padding: 5px 15px;
  border: 1px solid #dfdfdf;
  border-radius: 1px; }
  form .dropdown button::after {
    content: "\e64b";
    display: block;
    position: absolute;
    right: 10px;
    font-family: 'themify';
    top: 10px;
    font-size: 12px; }
form .hs-menu-inner {
  display: inline-block;
  width: 100%;
  padding: 10px; }
  form .hs-menu-inner a {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    color: #0c0c0c;
    opacity: .6; }
    form .hs-menu-inner a:hover {
      color: #ee0f0c;
      opacity: 1; }
form .hs-searchbox {
  padding: 0 10px; }
  form .hs-searchbox input {
    box-shadow: none !important; }

.update-avatar-mb {
  display: none; }

.update-avatar-pc {
  display: block; }

.update-page-thankyou {
  display: inline-block;
  width: 100%;
  padding: 100px 0;
  text-align: center; }
  .update-page-thankyou .container {
    max-width: 500px; }

.update-back-home {
  text-align: center;
  margin-top: 30px;
  opacity: .6; }
  .update-back-home i {
    color: #0c0c0c;
    margin-right: 5px; }
  .update-back-home span {
    color: #0c0c0c; }
  .update-back-home a:hover {
    text-decoration: none;
    opacity: 1;
    color: #ee0f0c; }
  .update-back-home:hover {
    opacity: 1; }
    .update-back-home:hover a i, .update-back-home:hover a span {
      color: #ee0f0c; }

.content-detail-market-report {
  position: relative; }
  .content-detail-market-report .expired-icon {
    position: absolute;
    top: 80px;
    right: 20%;
    width: 60%;
    object-fit: inherit;
    height: inherit;
    opacity: .6; }

.update-porfolio-page .update-logo-brand {
  text-align: center;
  margin: auto;
  max-width: 800px; }
  .update-porfolio-page .update-logo-brand img {
    height: 30px;
    margin: 10px 15px; }
.update-porfolio-page .update-tag-cate {
  text-align: center;
  margin-top: 20px;
  margin: auto;
  max-width: 800px; }
  .update-porfolio-page .update-tag-cate a {
    border: 1px solid #dfdfdf;
    height: 40px;
    margin: 0 5px;
    margin-top: 40px;
    padding: 0 20px;
    color: #0c0c0c;
    opacity: .7;
    align-content: center;
    position: relative;
    text-decoration: none;
    display: inline-grid; }
    .update-porfolio-page .update-tag-cate a:hover {
      color: #ee0f0c;
      border: 1px solid #ee0f0c; }

.update-porfolio-page-editor {
  margin-top: 100px; }
  .update-porfolio-page-editor .container {
    max-width: 1000px;
    text-align: center; }
    .update-porfolio-page-editor .container h2 {
      text-align: center;
      margin-bottom: 20px; }
    .update-porfolio-page-editor .container p {
      font-size: 15px;
      font-weight: normal;
      line-height: 26px;
      opacity: .7;
      text-align: center; }

.update-porfolio-img {
  display: inline-block;
  width: 100%;
  padding: 50px 0; }
  .update-porfolio-img img {
    width: 100%; }

.update-next-prev-porfolio {
  display: inline-block;
  min-height: 100px;
  display: grid;
  align-items: center;
  position: relative;
  width: 100%;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8; }
  .update-next-prev-porfolio .update-prev-portfolio {
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: left;
    padding-left: 60px;
    border-right: 1px solid #b8b8b8; }
    .update-next-prev-porfolio .update-prev-portfolio:hover span, .update-next-prev-porfolio .update-prev-portfolio:hover h6, .update-next-prev-porfolio .update-prev-portfolio:hover i {
      color: #ee0f0c !important; }
    .update-next-prev-porfolio .update-prev-portfolio a {
      text-decoration: none;
      color: #0c0c0c; }
    .update-next-prev-porfolio .update-prev-portfolio span {
      text-transform: uppercase;
      opacity: .5;
      display: inline-block;
      width: 100%; }
    .update-next-prev-porfolio .update-prev-portfolio h6 {
      font-size: 22px;
      color: #0c0c0c; }
    .update-next-prev-porfolio .update-prev-portfolio i {
      position: absolute;
      left: 15px;
      font-size: 20px;
      color: #444444;
      top: 14px; }

.update-next-prev-porfolio {
  display: inline-block;
  min-height: 100px;
  display: grid;
  align-items: center;
  position: relative;
  width: 100%;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8; }
  .update-next-prev-porfolio .update-next-portfolio {
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: right;
    padding-right: 60px; }
    .update-next-prev-porfolio .update-next-portfolio:hover span, .update-next-prev-porfolio .update-next-portfolio:hover h6, .update-next-prev-porfolio .update-next-portfolio:hover i {
      color: #ee0f0c !important; }
    .update-next-prev-porfolio .update-next-portfolio a {
      text-decoration: none;
      color: #0c0c0c; }
    .update-next-prev-porfolio .update-next-portfolio span {
      text-transform: uppercase;
      opacity: .5;
      display: inline-block;
      width: 100%; }
    .update-next-prev-porfolio .update-next-portfolio h6 {
      font-size: 22px;
      color: #0c0c0c; }
    .update-next-prev-porfolio .update-next-portfolio i {
      position: absolute;
      right: 15px;
      font-size: 20px;
      color: #444444;
      top: 14px; }

.update-Related-porfolio {
  padding: 50px 0; }
  .update-Related-porfolio h2 {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 32px; }

.update-infor-head-porfolio {
  position: absolute;
  right: 0;
  top: 20px;
  width: 39%;
  text-align: left;
  padding: 0 50px; }
  .update-infor-head-porfolio h1 {
    text-transform: none;
    text-align: left; }
  .update-infor-head-porfolio p {
    color: white;
    text-align: left;
    padding: 0;
    font-size: 14px;
    max-width: 100%;
    opacity: .7;
    width: 100%;
    float: left;
    word-wrap: break-word; }
  .update-infor-head-porfolio .update-btn-action-form {
    margin-top: 40px; }
  .update-infor-head-porfolio .update-tags {
    display: inline-block;
    width: 100%;
    margin-top: 20px; }
    .update-infor-head-porfolio .update-tags span {
      text-transform: uppercase;
      margin-right: 10px;
      font-size: 12px;
      color: white; }
  .update-infor-head-porfolio span {
    text-transform: uppercase;
    opacity: .6;
    text-align: left; }

.update-item-porfolio {
  position: relative;
  margin: 60px 0 20px 0; }
  .update-item-porfolio .thumnails {
    padding-top: 56%; }
  .update-item-porfolio .update-infor-porfolio {
    position: relative;
    padding-right: 180px;
    background: white;
    border: 1px solid #e6e6e6;
    padding: 15px 20px;
    border-top: 0; }
    .update-item-porfolio .update-infor-porfolio h6 a {
      font-size: 28px;
      font-weight: bold;
      color: #0c0c0c; }
    .update-item-porfolio .update-infor-porfolio p {
      display: inline-block;
      width: 100%;
      margin-bottom: 0; }
      .update-item-porfolio .update-infor-porfolio p span {
        font-size: 12px;
        color: #444444;
        opacity: .7;
        text-transform: uppercase; }
    .update-item-porfolio .update-infor-porfolio a.visitwebsite {
      position: absolute;
      right: 15px;
      top: 26px;
      width: 160px;
      height: 40px;
      border: 1px solid #ee0f0c;
      color: #ee0f0c;
      text-align: center;
      display: inline-grid;
      align-items: center; }
  .update-item-porfolio:hover a {
    color: #ee0f0c !important; }
    .update-item-porfolio:hover a.visitwebsite {
      border: 1px solid #ee0f0c;
      color: white !important;
      background: #ee0f0c; }

.update-hiring-page .list-news-bottom-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
.update-hiring-page .content-hot-blogs a {
  height: auto !important; }
.update-hiring-page .deadline-apply {
  font-size: 14px;
  opacity: .5;
  display: inline-block;
  width: 100%;
  text-align: left; }
.update-hiring-page .item-bottom-news {
  position: relative; }
  .update-hiring-page .item-bottom-news img.expired-icon {
    position: absolute;
    bottom: 80px;
    right: 20%;
    width: 60%;
    object-fit: inherit;
    height: inherit;
    opacity: .6; }

.update-head-porfolio-detail {
  position: relative;
  padding: 20px 40% 0 30px; }
  .update-head-porfolio-detail .update-avatar-porfolio-detail {
    width: 100%; }
  .update-head-porfolio-detail .thumnails {
    padding-top: 56%; }

.market-page-detail .deadline-apply {
  color: white;
  opacity: .7;
  margin-top: -20px;
  float: left;
  width: 100%; }

.update-client-portal {
  background: #0c0c0c;
  height: 600px;
  padding-top: 110px; }

@media only screen and (max-width: 900px) {
  .update-avatar-mb {
    display: block !important; }

  .update-Related-Articles {
    padding: 30px 0; }

  .update-contet-pagedetail {
    padding: 30px 0 0 0; }

  .update-avatar-pc {
    display: none !important; }

  .update-sidebar-menu {
    display: block;
    position: absolute;
    left: 15px;
    padding: 10px 30px;
    border: 1px solid #dfdfdf;
    border-radius: 1px;
    top: -20px; }
    .update-sidebar-menu i {
      font-size: 15px; }
    .update-sidebar-menu span {
      font-size: 13px;
      margin-right: 5px; }

  .update-list-market {
    margin-top: 40px; }

  .update-item-market {
    padding: 15px;
    padding-left: 140px; }

  .update-avatar {
    width: 110px;
    left: 15px;
    margin-bottom: 20px; }

  .update-item-market .update-btn-action {
    position: relative;
    right: inherit;
    top: inherit;
    width: 100%; }

  .update-item-market .update-infor-market label {
    margin-bottom: 0; }

  .update-item-market .update-btn-action {
    display: none; }

  .update-item-market .update-infor-market span {
    display: inline-block;
    width: 100%; }

  .update-item-market .update-infor-market p {
    display: none; }

  .update-item-market .update-btn-action a {
    float: left;
    width: 49%; }

  .update-item-market .update-infor-market h2 a {
    font-size: 14px; }

  .update-btn-download {
    margin-right: .5%; }

  .update-btn-detail {
    margin-left: .5%; }

  .update-box-filter {
    display: none;
    background: white;
    padding: 15px;
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 70px;
    z-index: 9;
    overflow-y: auto; }

  .update-btn-close {
    display: block;
    position: fixed;
    top: 0;
    left: 15px;
    width: 100%;
    height: 50px;
    background: white;
    z-index: 9;
    padding-top: 15px; }
    .update-btn-close i {
      font-size: 20px; }

  .show-filter-udpate {
    display: block !important; }

  .update-contet-pagedetail .update-sumary-content {
    width: 100%;
    background: #F5F7FB;
    margin-left: 0px;
    border: 1px solid #E5E5E5;
    float: right;
    margin-bottom: 30px; }

  .update-item-market {
    margin-bottom: 20px !important;
    display: inline-block !important;
    width: 100% !important; }

  .update-tag a {
    margin-bottom: 10px; }

  .update-Related-Articles .update-item-market {
    padding-left: 130px !important;
    padding-top: 15px !important; }

  .update-Related-Articles .update-item-market .update-avatar {
    position: absolute;
    display: inline-block;
    left: 15px;
    width: 110px; }

  .update-Related-Articles .update-infor-market {
    padding-top: 0; }

  .update-market-detail-infor {
    margin-bottom: 20px; }

  .update-client-portal {
    height: initial; }

  .update-head-porfolio-detail {
    position: relative;
    padding: 0; }

  .update-infor-head-porfolio {
    position: relative;
    right: 0;
    top: 20px;
    width: 100%;
    text-align: left;
    padding: 0 20px; }

  .update-next-prev-porfolio .col-md-6 {
    float: left;
    padding: 15px 0 !important;
    width: 50% !important; }

  .update-next-prev-porfolio .row {
    margin: 0 !important; }

  .update-porfolio-img .row {
    margin: 0 !important; }
    .update-porfolio-img .row img {
      margin-bottom: 10px; }

  .update-next-prev-porfolio .col-md-6:nth-child(1) {
    border-right: 1px solid #ddd; }

  .update-prev-portfolio {
    border: 0 !important; }

  .update-next-prev-porfolio h6 {
    font-size: 16px !important; }
  .update-next-prev-porfolio span {
    font-size: 12px; }
  .update-next-prev-porfolio .row {
    display: flex; }

  .update-Related-porfolio {
    padding: 0; }

  .update-item-porfolio .update-infor-porfolio a.visitwebsite {
    position: relative;
    right: inherit;
    top: 26px;
    width: 160px;
    height: 40px;
    border: 1px solid #ee0f0c;
    color: #ee0f0c;
    text-align: center;
    display: inline-grid;
    align-items: center;
    margin-bottom: 30px; }

  .update-Related-porfolio h2 {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 24px;
    margin-bottom: 0; }

  .update-porfolio-page-editor {
    margin-top: 0; } }

/*# sourceMappingURL=update-style.css.map */
