*{
    padding: 0;
    outline: none;
    margin: 0;
    text-decoration: none;
}
$white:#fff;
$yellow:#ee0f0c;
$color1:#0c0c0c;
$bg-gray:#f6f8fd;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-size: 14px;
    color: $color1;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.logo{
    width: 100%;
    text-align: center;
    img{
        height: 60px;
    }
}
header{
    padding: 15px;
    position: relative;
    z-index: 1;
    background-size: cover;
}
.social-phone-menu{
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
}
.phone{
    float: left;
    margin-right: 10px;
    opacity: .7;
    &:hover{
            opacity: 1;
        }
    i{
        color: $white;
        font-size: 20px;
    }
    a{
        font-size: 16px;
        color: $white;
        opacity: .7;
        &:hover{
            opacity: 1;
        }
    }
}
.social{
    float: left;
    a{
        float: left;
        padding-left: 10px;
        opacity: .7;
        &:hover{
            opacity: 1;
        }
    }
    i{
        font-size: 14px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #fff;
        color: #0c0c0c;
        display: block;
        text-align: center;
        padding-top: 2px;
    }
}
.menu{
    float: left;
    padding-left: 30px;
    opacity: .7;
    margin-top: -5px;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
    i{
        font-size: 25px;
        color: $white;
    }
}
.title-slider{
    opacity: .6;
}
.slider-body{
    background: url(../images/background-slider.jpg) no-repeat center top;
    height: 682px;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: -90px;
    padding-top:27%;
    .title-slider{
        h6{
            font-size: 25px;
            color: $white;
        }
        h1{
            font-size: 70px;
            font-weight: 600;
            color: $white;
            img{
                height: 53px;
                display: initial;
                margin-top: -11px;
            }
        }
    }
    
}
canvas{
    position: absolute;
    top: -140px;
    left: 0;
    width: 100%;
    height: auto !important;
}
.animated-mouse {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 27px;
    height: 47px;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
    border-radius: 14px;
    margin-top: 50px;
    opacity: .5;
    &-pointer {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: #fff;
        left: 50%;
        top: 70%;
        transform: translate(-50%, 0);
        animation-name: mousePointer;
        animation-duration:2s;
        animation-iteration-count: 10;
        animation-direction: normal;
        animation-timing-function: linear;
        animation-fill-mode: backwards;
        animation-delay: .6s;
    }
}
  
  @keyframes mousePointer {
      0%      { opacity: 0; top: 70%; }
      20%      { opacity: 1; top: 70%; }
      40%      { opacity: 1; top: 70%; }
      60%     { opacity: 1; top: 20%; }
      61%     { opacity: 1; top: 20%; }
      67%     { opacity: 0; top: 20%; }
      100%     { opacity: 0; top: 20%; }
  }
  .services-body{
      padding: 50px 0;
      background: $bg-gray;
      z-index: 1;
      .title-services{
          text-align: center;
          width: 90%;
          margin: auto;
        h2{
            font-size: 26px;
            font-weight: 700;
            text-transform: uppercase;
            color: $color1;
        }
        p{
            font-size: 12px;
            color:#a6a6a6;
        }
      }
      
      ul{
          margin-top: 30px;
        li{
            list-style: none;
            width: 25%;
            float: left;
            padding: 0 10px;
            .item-services{
                box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
                background: $white;
                padding:25px 15px 20px 15px;
                display: inline-block;
                height: 200px;
                margin-bottom: 20px;
                width: 100%;
                transition: all .2s linear;
                text-align: center;
                a{
                    color: $color1;
                    text-decoration: none;
                    width: 100%;
                    display: inline-block;
                }
                i{
                    font-size: 50px;
                    color: #a3a3a3;
                }
                h6{
                    font-size:16px;
                    font-weight: 500;
                    line-height: 22px;
                    height: 50px;
                    margin-top: 15px;
                }
                span{
                    float: right;
                    font-size: 15px;
                }
                &:hover{
                    background: $yellow;
                    i, span, h6{
                        color: $white;
                    }
                }
            }
            label{
                font-weight: normal;
                font-size: 10px;
                color: #b0b0b0;
                height: 110px;
                overflow: hidden;
            }
        }
      }
  }

  .request-action{
      background: url(../images/h-background-action.jpg) no-repeat center top;
      height: 294px;
      padding: 70px 0;
      z-index: 1;
      text-align: center;
      h2{
          font-size: 36px;
          color: $white;
          margin-bottom: 30px;
      }
      a{
        display: inline-flex;
        padding: 15px 40px;
        border: 1px solid #fff;
        text-decoration: none;
        border-radius: 50px;
        margin: 0 5px;
        font-size: 16px;
        color: #fff;
        &:hover{
            opacity: .8;
        }
      }
      a:nth-child(3){
          background: $yellow;
          color: $white;
          border: 1px solid $yellow;
      }
  }

  .how-we-work{
      padding: 40px 0;
      z-index: 1;
      h2{
          font-size: 26px;
          color: $color1;
          font-weight: 700;
          text-align: center;
          text-transform: uppercase;
      }
      ul{
          margin-top: 80px;
          position: relative;
          li{
              float: left;
              padding: 0 5px;
              width: 12.5%;
              list-style: none;
              .item-how-work{
                background: $white;
                box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
                padding:15px 5px;
                text-align: center;
                img{
                    height: 53px;
                    opacity: .4;
                }
                h4{
                    font-size: 13px;
                    color: $color1;
                    height: 53px;
                }
              }
              &:nth-child(odd){
                  margin-top: -30px;
              }
          }
      }
  }
  .title-report{
      p{
          text-align: center;
          font-size: 12px;
          max-width: 80%;
          color: #a6a6a6;
          margin: auto;
      }
      h2{
        font-size: 26px;
        color: #0c0c0c;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
      }
  }
  .item-how-work{
      i{
          font-size: 40px;
          margin-top: 10px;
          opacity: .6;
      }
  }
  .item-report-lager{
      float: left;
      margin: 20px 0;
      img{
          width: 100%;
          margin-bottom: 10px;
          height: 272px;
          object-fit: cover;
      }
      h5{
          a{
              font-weight: 700;
              font-size: 14px;
              margin-top: 15px;
              color: $color1;
          }
      }
  }
  .item-report-small{
    float: left;
    margin: 20px 0;
    img{
        width: 100%;
        margin-bottom:10px;
        height: 150px;
        object-fit: cover;
    }
    h6{
        margin: 0;
        a{
            font-weight: 400;
            font-size: 14px;
            margin-top: 5px;
            line-height: 23px;
            color: $color1;
        }
    }
  }
  .item-small-link{
      position: relative;
      i{
          position: absolute;
          top: 5px;
          left:0;
          font-size: 12px;
          color: #8d8d8d;
      }
      p{
          padding-left: 10px;
          color: $color1;
          font-size: 14px;
      }
  }
  .button-view-all{
      float: left;
      width: 100%;
      margin: 20px 0;
      text-align: center;
      a{
          display: inline-flex;
          transition: all .2s linear;
          padding: 7px 25px;
          text-decoration: none;
          border: 1px solid $yellow;
          color: $yellow;
          text-transform: uppercase;
          i{
            margin: 3px;
          }
          &:hover{
              background: $yellow;
              color: $white;
          }
      }
  }
  .section-country{
      ul{
          float: left;
          width: 100%;
          margin-top: 30px;
          li{
              width: 14.2%;
              float: left;
              list-style: none;
              text-align: center;
              list-style: none;
              padding: 0 5px;
              p{
                  height: 70px;
                  padding: 15px 5px;
                  padding: 15px 5px;border: 1px solid $white;
                  font-size: 14px;
                  background: $white;
                  box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
              }
              &:hover{
                  p{
                      border: 1px solid $yellow;
                  }
              }
          }
      }
  }
  .maps-place{
      margin-top: 30px;
      float: left;
      width: 100%;
      img{
          max-width: 100%;
      }
  }

  .client-section{
      background:#ee0f0c url(../images/background-client.jpg) no-repeat center top;
      padding: 50px 0;
      .title-report{
        h2,p{
            color: $white;
        }
      }
  }
  .section-client{
      text-align: center;
      margin-top: 20px;
      img{
          max-height: 30px;
          padding: 0 15px;
          margin: 20px 0;
      }
  }
  .client-view-all{
    float: left;
    width: 100%;
    margin: 20px 0;
    text-align: center;
    a{
        display: inline-flex;
        transition: all .2s linear;
        padding: 7px 25px;
        text-decoration: none;
        border: 1px solid #f56f6d;
        color: $white;
        text-transform: uppercase;
        i{
          margin: 3px;
        }
    }
}
.expertises{
    border-top: 1px solid #ef4a3b;
    text-align: center;
    float: left;
    padding-top: 20px;
    margin: 30px 0 0px 0;
    width: 100%;
    h3{
        font-size: 26px;
        font-weight: 600;
        color: $white;
    }
}
.form-request{
    padding: 50px 0;
    background: $white;
}
.mauticform-row{
    label{
        b{
            color: $yellow !important;
        }
    }
}
.form-contact{
    width:530px;
    margin:30px auto;
    label{
        float: left;
        width: 130px;
        margin-right: 30px;
        margin-top: 9px;
        font-size: 14px;
        color:#525252;
        font-weight: 500;
        b{
            color: $yellow !important;
        }
        span{
            color: $yellow;
        }
    }
    input{
        float: left;
        width: 370px;
        height: 40px;
        padding: 0 10px;
        border: 1px solid #d7d7d7;
        &:focus{
            border: 1px solid $yellow;
            box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
        }
    }
    textarea{
        float: left;
        width: 370px;
        height: 70px;
        padding: 0 10px;
        border: 1px solid #d7d7d7;
        &:focus{
            border: 1px solid $yellow;
            box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
        }
    }
}
.item-form{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.button-send-message{
    width: 100%;
    text-align: center;
    margin-top: 0px;
    display: inline-block;
    button{
        padding: 12px 25px;
        color: $white;
        background: $yellow;
        border: 0;
        float: right;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        i{
            color: $white;
            font-size: 12px;
        }
    }
}
footer{
    background: $color1;
    padding: 40px 0;
    h6{
        text-transform: uppercase;
        color: $white;
        font-size: 14px;
        font-weight: 600;
    }
    p{
        line-height: 23px;
    }
    .list-menu-footer{
        a{
            font-size: 13px;
            color: #595959;
            padding: 5px 0;
            width: 100%;
            position: relative;
            padding-left: 13px;
            display: inline-block;
            &:hover{
                color: $white;
            }
            &::before{
                position: absolute;
                top: 11px;
                left: 0;
                width: 5px;
                height: 5px;
                content: '';
                display: block;
                border-radius: 50%;
                background: #595959;
            }
        }
    }
    .logo-footer{
        img{
            height: 80px;
            margin-bottom: 10px;
        }
        p{
            color: #595959;
            font-size: 13px;
        }
    }
}
.scroll-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    background: red;
    padding: 15px;
    font-weight: bold;
    line-height: normal;
    opacity: .7;
    border: none;
    display: none;
    &:hover{
        opacity: 1;
    }
    i{
        font-size: 16px;
        color: $white;
    }
}
.scroll-to-top{
    display:block !important;
}
.menu-main{
    position: fixed;
    top: 0;
    display: none;
    left: 0;
    box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
    width: 100%;
    background: $white;
    padding: 5px 15px;
    .logo-menu-scroll{
        float: left;
        img{
            height: 50px;
        }
    }
    ul{
        float: left;
        padding-bottom: 0;
        margin-bottom: 0;
        li{
            float: left;
            list-style: none;
            a{
                color: $color1;
                font-size: 14px;
                display: inline-block;
                text-decoration: none;
                padding:15px;
            }
            &:hover, &.active{
                a{
                    color: $yellow;
                }
            }
        }
    }
    .content-menu-scroll{
        float: right;
        .phone, .social{
            opacity: 1;
            padding-top: 12px;
            a,i{
                opacity: 1;
                color: $color1 !important;
            }
        }
        .phone{
            margin-left: 20px;
        }
        a{
            i{
                font-size: 15px;
            }
        }
    }
}
.menu-scroll{
    display: block !important;
}
.menu-responsive{
    position: fixed;
    right: -1000px;
    top: 0;
    transition: all .2s linear;
    width: 300px;
    box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
    height: 100%;
    padding:20px;
    background: #fff;
    ul{
        li{
            display: inline-block;
            width: 100%;
            list-style: none;
            a{
                font-size: 14px;
                text-transform: uppercase;
                padding: 10px 15px;
                font-weight: 500;
                float: left;
                width: 100%;
                color: $color1;
            }
        }
    }
    .social, .phone{
        padding:10px;
        display: none;
        text-align: left;
        width: 100%;
        opacity: 1;
        a,i{
            color: $color1;
            opacity: 1;
            padding: 0;
            padding-right: 10px;
        }
    }
    .social{
        border-top: 1px solid #d7d7d7;
        width: 100%;
        i{
            font-size: 18px;
        }
    }
    .icon-close-menu{
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 20px;
        color: $color1;
        z-index: 9;
        cursor: pointer;
    }
}
.show-menu-right{
    right: 0 !important;
}


.services-page{
    background: $color1 url(../images/servces.png) no-repeat center top;
}
.head-page{
    height: 549px;
    margin-top: -90px;
    padding-top: 240px;
    h1{
        color: $white;
        font-size: 46px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 30px 0;
        font-weight: 800;
    }
    p{
        font-size: 16px;
        color: #b8b8b8;
        margin: auto;
        text-align: center;
        max-width: 80%;
    }
}
.breadcrumb{
    background: none;
    text-align: center;
    margin-bottom: 0;
    li{
        font-size: 11px;
        opacity: .7;
        color: $white;
    }
    a{
        font-size: 11px;
        color: $white;
        opacity: .7;
    }
}
.services-cate{
    background: $white;
    padding: 50px 0;
    ul{
        li{
            float: left;
            width: 33.3%;
            padding:0 15px;
            margin-bottom: 30px;
            list-style: none;
            .item-services{
                float: left;
                width: 100%;
                background: $white;
                box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
                text-align: center;
                img{
                    height: 60px;margin: 60px 0;
                    
                }
                a{
                    float: left;
                    text-decoration: none;
                    width: 100%;
                }
                h6{
                    font-size: 16px;
                    padding: 20px 15px;
                    font-weight: 500;
                    float: left;
                    width: 100%;
                    height: 75px;
                    color: #404040;
                    background: $bg-gray;
                    border-bottom: 2px solid $color1;
                    margin: 0;
                }
            }
            &:hover{
                h6{
                    background: $yellow;
                color: $white;
                }
            }
        }
    }
}

.body-content-tab{
padding-top: 80px;
}
.services-page-1{
    background: $color1 url(../images/services-1.jpg) no-repeat center top;
}
.services-page-2{
    background: $color1 url(../images/head-bg-services2.jpg) no-repeat center top;
}
.services-page-3{
    background: $color1 url(../images/head-bg-services3.jpg) no-repeat center top;
}
.services-page-4{
    background: $color1 url(../images/head-bg-services4.jpg) no-repeat center top;
}
.client-page{
    background: $color1 url(../images/client-background-head.jpg) no-repeat center top;
    padding-top: 170px;
}
.contact-page{
    background: $color1 url(../images/contact-bg-head.jpg) no-repeat center top;
    padding-top: 170px;
}
.seo-agency-head{
    background: $color1 url(../images/seo-agency-background.jpg) no-repeat center top;
    padding-top: 170px;
}
.blogs-page{
    background: $color1 url(../images/head-blogs.jpg) no-repeat center top;
    padding-top: 170px;
}
.services-page-1{
    display: inline-block;
    width: 100%;
}
.market-page{
    background: $color1 url(../images/market-repot-bg-head.jpg) no-repeat center top;
}
.market-page-detail{
    background: $color1 url(../images/market-report-head.jpg) no-repeat center top;
    h1{
        text-align: left;
        text-transform: none;
    }
}
.hirring-page{
    background: $color1 url(../images/hirring-bg-head.jpg) no-repeat center top;
}
.tab-fixed{
    position: fixed;
    top: 60px;
    left: 0;
}
.mce-toc{
    border: 1px solid #ddd;
    h2{
        background: #f1f1f1;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        padding: 0 14px;
        margin: 0 !important;  
    }
    ul{
        padding-left: 22px;
        li{
            padding: 5px 0;
            a{
                color: $color1;
            }
        }
    }
}
.lap_editor{
    img{
        max-width: 100%;
        height: auto !important;
    }
    ul, ol{
        li{
            position: relative;
            padding-left: 30px;
            margin-bottom: 5px !important;
            width: 100%;
            display: inline-block;
            &::before{
                background: url(../images/check-icon.png) no-repeat left top;
                display: block;
                content: '';
                width: 18px;
                position: absolute;
                left: 0;
                top: 4px;
                height: 18px;
            }
            p{
                margin-bottom: 0 !important;
            }
            ul{
                padding-left:0px !important;
                li{
                    padding-left: 18px !important;
                    &::before{
                        background:#b0b0b0;
                        background-image: none;
                        display: block;
                        content: '';
                        width: 6px;
                        position: absolute;
                        border-radius: 50%;
                        left: 0;
                        top: 8px;
                        height: 6px;
                    }
                }
            }
        }
    }
    h2{
        font-size: 28px;
        font-weight: 400;
        line-height: 40px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    h3{
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    p{
        font-size: 14px;
        margin-bottom: 10px;
    }
    h4{
        font-weight: bold;
        text-transform: uppercase;
        margin: 20px 0 10px 0;
        font-size: 20px;
    }
    h5{
        font-weight: bold;
        text-transform: uppercase;
        margin: 20px 0 10px 0;
        font-size: 18px;
    }
    h6{
        font-weight: bold;
        text-transform: uppercase;
        margin: 20px 0 10px 0;
        font-size: 16px;
    }
    table{
        thead{
            tr{
                th{
                    background: $color1;
                    color: $white;
                    padding: 10px 15px;
                }
            }
        }
        tr{
            td{
                padding: 10px 15px;
                line-height: 25px;
                border: 1px solid #ddd;
            }
        }
    }
}
.page-404{
    width: 600px;
    margin: auto;
    text-align: center;
    padding: 50px 15px;
    img{
        max-width: 100%;
    }
    h1{
        font-size: 26px;
        margin-bottom: 20px;
    }
    p{
        font-size: 13px;
        margin-bottom: 20px;
    }
    a{
        padding: 8px 20px;
        background: $color1;
        text-decoration: none;
        color: $white;
        font-size: 14px;
        text-transform: uppercase;
        i{
            font-size: 14px;
            padding-right: 5px;
            color: $white;
        }
        &:hover{
            background: $yellow;
        }
    }
}
.form-contact{
    visibility: initial !important;
}
.modal-body.form-request{
    padding: 0;
}
.blogs-body{
    .news-hot{
        .title-hot{
            position: relative;
            margin-bottom: 20px;
            &::before{
                position: absolute;
                content: '';
                display: block;
                height: 15px;
                width: 3px;
                background: $yellow;
            }
            h2{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
                margin-left: 10px;
                color: $yellow;
            }
        }
        ul{
            display: inline-block;
            margin-top: 10px;
            li{
                list-style: none;
                padding: 7px 0;
                border-bottom: 1px solid #d8d8d8;
                a{
                    color: $white;
                    
                }
                p{
                    color: $color1;
                    &:hover{
                        text-decoration: underline !important;
                    }
                }
                label{
                    font-weight: normal;
                    background: #a9a9a9;
                    padding: 1px 10px;
                    float: left;
                    color: $white;
                    margin-right: 10px;
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
        }
    }
}
.title-hirring{
    h2{
        text-align: center;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 600;
    }
}
.list-news-bottom-page{
    margin: 30px 0;
    label{
        text-transform: uppercase;
        color: $color1;
        display: inline-block;
        margin-top: 5px;
        padding: 0px 10px;
        background: #d8d8d8;
        a{
            color: $color1;
            font-size: 12px;
            font-weight: normal;
            opacity: .7;
        }
    }
    img{
        width: 100%;
        height: 240px;
        object-fit: cover;
    }
    h2{
       line-height: 20px; 
       margin: 0;
       padding: 0;
       margin-bottom: 10px;
        a{
            color: $color1;
            font-size: 14px;
        }
    }
    .item-bottom-news{
        margin: 0;
        h2{
            a{
                height: 85px;
                overflow: hidden;
                display: inline-block;
                width: 100%;
            }
        }
    }
}
.blogs-detail-body{
    .content-blogs-detail{
        width: 800px;
        padding: 40px 0;
        margin: auto;
        img{
            max-width: 100%;
            margin: 20px 0;
        }
        p{
            line-height: 30px;
        }
        h2{
            font-size: 24px;
        }
    }
}
.content-detail-market-report{
    img{
        max-width: 100%;
    }
    p{
        line-height: 30px;
    }
    h2{
        font-size: 24px;
    }
    ul{
        padding-left: 30px;
    }
}
.tags{
    position: relative;
    padding-left: 60px;
    width: 100%;
    display: inline-block;
    margin-top: 30px;
    p{
        position:absolute;
        left: 0;
        top: -5px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
    }
    a{
        background: $bg-gray;
        margin: 0 4px;
        color: $color1;
        font-size: 12px;
        padding: 4px 10px;
        text-decoration: none;
        margin-top: 5px;
        &:hover{
            background-color: $color1;
            color: $white;
        }
    }
}
.category-blogs{
    margin-bottom: 40px;
    .title-cate-blogs{
        border-top: 1px solid #ddd;
    padding: 10px 0;
        text-align: center;
        h2{
            font-size: 36px;
            font-weight: normal;
        }
    }
    ul{
        
        li{
            list-style: none;
            .item-sub{
                background: #5a5a5a;
                border-bottom: 2px solid $yellow;
                a{
                    color: $white;
                    text-decoration: none;
                }
                img{
                    width: 100%;
                    object-fit: cover;
                    height: 200px;
                }
                h5{
                    font-size: 24px;
                    padding: 10px 15px;
                    font-weight: normal;
                }
                p{
                    font-size: 14px;
                    opacity: .5;
                    padding: 0 15px;
                    padding-bottom: 20px;
                }
                &:hover,&.active{
                    background: $yellow;
                    p{
                        opacity: .8;
                    }
                }
            }
        }
    }
}
.hot-bottm-slider{
    float: left;
    margin-left: -15px;
    margin-right: -15px;
}
.list-news-cate{
    .content-hot-blogs{
        background: $bg-gray;
        padding: 15px;
        padding-bottom: 0;
        margin-bottom: 30px;
    }
}
.pagging-body{
    text-align: center;
    ul{
        li{
            a{
                color: $color1;
                border: 0 !important;
                border-radius: 0;
                box-shadow: none;
            padding: 0 25px;
                background: none !important;
                i{
                    font-size: 12px;
                }
                &.active{
                    color: $yellow;
                    font-size: 18px;
                }
            }
        }
    }
}
.blogs-page-detail{
    background: $color1;
    padding-bottom: 30px;
    height: auto;
    img{
        width: 100%;
        margin-top: 30px;
    }
    h1{
        text-align: left;
        text-transform: none;
        margin-top: 30px;
    }
    p{
        text-align: left;
        max-width:100%;
        margin: auto;
    }
}
.focus-news{
    background: #5a5a5a;
    padding: 50px 0;
    margin: 30px 0;
    label{
        font-weight: normal;
        background: #a9a9a9;
        padding: 1px 10px;
        float: left;
        color: $white !important;
        margin-right: 10px;
        font-size: 12px;
        margin-top: 5px;
        a{
            color: $white !important;
            text-transform: uppercase;
        }
    }
    .img-focus-news{
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    p{
        color: $white;
    }
    h2{
        line-height: 30px; 
        margin: 0;
        display: inline-block;
         width: 100%;
         color: $white;
        padding: 0;
        margin-bottom: 10px;
         a{
             color: $color1;
             color: $white;
             font-size: 28px;
         }
     }
     .button-link-view{
         display: inline-block;
         margin-top: 10px;
         width: 100%;
         a{
            padding: 10px 20px;
            background: $yellow;
            color: $white;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;   
         }
     }
}
.lager-columns{
    margin-top: 30px;
    img{
        width: 100%;
    }
}
.content-lager-blogs{
    background: $bg-gray;
    padding: 15px;
    h1{
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 10px;
        color: $color1;
        padding: 0;
        margin: 0;
        a{
            font-size: 20px;
            font-weight:500;
            margin-bottom: 10px;
            color: $color1;
            padding: 0;
            margin: 0;
        }
        margin-bottom: 10px;
    }
    label{
        text-transform: uppercase;
        color: $color1;
        opacity: .7;
        a{
            color: $color1;
            opacity: .7;
        }
    }
}
.hot-news-page{
    margin: 30px 0;
    label{
        text-transform: uppercase;
        color: $color1;
        display: inline-block;
        margin-top: 5px;
        padding: 2px 10px;
        background: #d8d8d8;
        a{
            color: $color1;
            font-size: 12px;
            font-weight: normal;
            opacity: .7;
        }
    }
    img{
        width: 100%;
    }
    h2{
       line-height: 20px; 
       margin: 0;
       padding: 0;
       margin-bottom: 10px;
        a{
            color: $color1;
            font-size: 18px;
        }
    }
}
.right-columns-hot{
    .hot-news-page{
        padding: 0 15px;
        margin-bottom: 0;
        h2{
            line-height: 14px;
            a{
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
.client-ul{
    ul{
        li{
            background: $white;
            padding: 20px 10px;
            border: 1px solid $bg-gray;
        }
    }
}
.client-body{
    background: $white;
    ul{
        li{
            list-style: none;
            text-align: center;
        }
    }
}
.contact-body{
    padding: 40px 0;
    display: inline-block;
    width: 100%;
    .infor-contact{
        img{
            max-width: 100%;
            margin-top: 20px;
        }
        p{

            width: 100%;
            float: left;
            padding-left: 30px;
            margin: 0;
            margin-bottom: 15px;
            position: relative;
            i{
                position: absolute;
                left: 0;
                font-size: 18px;
                top: 5px;
            }
            a{
                font-size: 18px;
                color: $color1;
                font-weight: normal;
            }
            span{
                font-size: 14px;
            }
        }
    }
}
.link-requestment{
    text-align: center;
    margin-top: 30px;
    a{
        display: inline-flex;
        padding: 15px 40px;
        border: 1px solid #fff;
        text-decoration: none;
        border-radius: 50px;
        margin: 0 5px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
        &:nth-child(2){
            background: #ee0f0c;
            color: #fff;
            border: 1px solid #ee0f0c;
        }
    }
}
.form-contact2{
    margin-top: 0;
    .form-request-page{
        width: 370px;
        float: right;
        h2,p{
            width: 100%;
            display: inline-block;
            margin-top: 0;
        }
    }
    input, textarea{
        float: left;
        width: 100%;
        height: 40px;
        padding: 0 10px;
        border: 1px solid #d7d7d7;
    }
    textarea{
        height: 100px;
    }
}
.map-contact{
    margin: 40px 0;
    iframe{
        width: 100%;
        height: 500px;
    }
}
.content-sercices-1{
    display: inline-block;
    width: 100%;
}
.example-thankyou{
    padding: 30px 0;
    margin-bottom: 80px;
    img{
        width: 100%;
    }
}
.propose-page, .result-page{
    h3{
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        margin:0 auto 20px auto;
        width: 100%;
        display: inline-block;
        font-weight: 700;
    }
    p{
        font-size: 14px;
        max-width: 70%;
        text-align: center;
        margin: auto;
    }
}
.thank-you-page{
    display: inline-block;
    width: 100%;
    &__content{
        background: $white;
        width: 1000px;
        padding: 0 6%;
        margin: auto;
        padding-top: 30px;
        text-align: center;
        border-radius: 4px 4px 0 0;
        margin-top: -60px;
        h1{
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            color: $color1;
        }
        p{
            font-size: 16px;
            padding:15px 0 30px 0;
        }
        button{
            background: $yellow;
            color: $white;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            width: 230px;
            padding: 15px 15px;
            border: 0;
            margin-bottom: 20px;

            &:hover{
                opacity: .8;
            }
        }
    }
}
.result-page{
    ul{
        margin-top: 30px;
        li{
            float: left;
            width: 33.3%;
            list-style: none;
            padding: 0 15px;
            margin-top: 30px;
            .item-result{
                width: 100%;
                text-align: center;
                background: $white;
                padding: 50px 20px;
                min-height: 349px;
                box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
                i{
                    font-size: 60px;
                    margin-bottom: 15px;
                    display: inline-block;
                }
                h5{
                    font-size: 18px;
                    height: 60px;
                    font-weight: bold;
                }
                p{
                    font-size: 14px;
                    max-width: 100%;
                    height: 170px;
                    margin: auto;
                }
            }
        }
    }
}
.MB-img{
    display: none;
}

.tab-propose{
    position: relative;
    padding-left: 250px;
    margin-top: 30px;
    .lap_editor{
        ul{
            position: relative !important;
            width: auto !important;
            text-align:left;
            li{
                padding-bottom: 10px !important;
                border: 0 !important;
                p{
                    text-align: left;
                    max-width: initial;
                    width: 100%;
                }
            }
        }
    }
    ul{
        position: absolute;
        left: 0;
        top: 0;
        width: 250px;
        border: 0;
        li{
            width: 100%;
            border-radius: 0;
            float: left;
            position: relative;
            margin-bottom: 0px;
            border: 0;
            border-bottom: 1px solid #848484;
            a{
                float: left;
                border-radius: 0;
                width: 100%;
                border: 0 !important;
                background: #616161;
                color: #fff;
                padding: 20px 15px;
                &:hover{
                    background: #616161 !important;
                }
                span{
                    font-size: 27px;
                        position: absolute;
                        right: 5px;
                        top: 10px;
                    }
            }
            &.active{
                a{
                    background: $white !important;
                    border: 0;
                }
            }
        }
    }
    .tab-content{
        padding-left: 30px;
        .img-example{
            img{
                object-fit: cover;
                width: 100%;
            }
        }
        .description-tab-propose{
            position: relative;
            margin: 20px 0;
            padding-left: 30px;
            img{
                position: absolute;
                left: 0;
                top: 0;
            }
            p{
                max-width: 100%;
                margin: 0;
                text-align: left;
            }
            h5{
                font-weight: 600;
            }
        }
    }
}
/*--css tab --*/
.menu-tab{
    margin-bottom: 0;
}
.navbar {
background-color: #efefef;
width: 100%;
text-align: center;
z-index: 1;
}
.navbar-items {
padding: 12px 0 0 0;
font-size: 1.25rem;
}
.navbar-items li {
list-style: none;
display: inline-block;
}
.navbar-items li + li {
margin-left: 20px;
}
.navbar-items li a {
color: $color1;
text-decoration: none;
position: relative;
}
.navbar-items li a::after {
width: 0;
content: "";
height: 2px;
background-color: $yellow;
position: absolute;
bottom: -5px;
left: 0;
transition: width .3s ease;
}
.navbar-items li a.active{
    color: $yellow;
}
.navbar-items li a.active::after {
width:30px;
}
/*-- end tab --*/
.content-tab-1{
    float: left;
    width: 100%;
    padding: 80px 0;
    background: $white;
}
.content-first{
    float: left;
    background: $white;
    padding: 60px 0;
    width: 100%;
}
.sub-content{
    display: inline-block;
    label{
        font-weight: normal;
        position: relative;
        padding-left: 20px;
        font-size: 14px;
        &::before{
            position: absolute;
            top: 7px;
            left: 0;
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background: #a5a5a5;
            border-radius: 50%;
        }
    }
}
.first-left-columns{
    ul{
        li{
            position: relative;
            list-style: none;
            float: left;
            width: 100%;
            padding: 15px 0;
            i{
                position: absolute;
                left: 0;
                top: 14px;
                opacity: .7;
                font-size: 60px;
            }
            .description-first{
                float: left;
                padding-left: 90px;
                h6{
                    font-size: 20px;
                    font-weight: 500;
                    margin-top: 10px;
                }
                p{
                    font-weight: normal;
                    opacity: .6;
                    font-size: 14px;
                }
            }
        }
    }
}
.services4-box{
    ul{
        li{
            padding: 0 10px;
            list-style: none;
            margin-bottom: 30px;
            .item-services4-box{
                background: $bg-gray;
                img{
                    object-fit: cover;
                    width: 100%;
                    max-height: 200px;
                }
                h3{
                    font-size: 14px;
                    padding:20px 15px;
                    font-weight: 500;
                    margin: 0;
                }
            }
        }
    }
}
.list-pr-services{
    margin-top: 40px;
    display: inline-block;
    width: 100%;
    ul{
        li{
            padding: 0 10px;
            list-style: none;
            margin-bottom: 30px;
        }
        .item-list-pr-services{
            border: 1px solid #e8e8e8;
            box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
            text-align: center;
                background: $white;
                i{
                    margin: 30px 0 10px 0;
                    font-size: 60px;
                    display: inline-block;
                    width: 100%;
                    opacity: .7;
                }
                h6{
                    padding: 20px 15px;
                    font-size: 16px;
                    height: 70px;
                    font-weight: 600;
                    margin: 0;
                }
        }
    }
}
.title-our-online{
    text-align: center;
    float: left;
    width: 100%;
    margin: 30px 0 0 0;
    h3{
        font-size: 18px;
        margin: 30px 0 0 0;
        text-transform: uppercase;
        font-weight: 600;
    }
}
.tab1-content-left{
    img{
        width: 100%;
        object-fit: cover;
    }
}
.blocks{
    background: $white;
}
.multi-chanel{
    padding: 40px 0;
    margin-bottom: 30px;
}
.tab1-content-right{
    h3{
        font-size: 28px;
        font-weight: 400;
        line-height: 40px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    p{
        font-size: 14px;
    }
    h4{
        font-weight: bold;
        text-transform: uppercase;
        margin:20px 0 10px 0;
        font-size: 14px;
    }
    ul{
        li{
            padding-left: 30px;
            list-style: none;
            position: relative;
            margin: 10px 0;
            img{
                position: absolute;
                left: 0;
                top: 0px;
            }
            p{
                display: inline-block;
                font-size: 14px;
                width: 100%;
            }
        }
    }
}
.first-right-columns{
    .form-request-page{
        background: $bg-gray;
        padding: 20px;
        float: left;
        width: 100%;
        box-shadow: rgba(79, 79, 79, 0.2) 0px 0.2rem 2rem 0px;
        h2{
            font-size: 20px;
            font-weight: 600;
            margin: 0 0 10px 0;
        }
        form{
            margin-top: 20px;
            input{
                float: left;
                width: 100%;
                height: 40px;
                padding: 0 10px;
                border: 1px solid #d7d7d7;
                &:focus{
                    border: 1px solid $yellow;
                    box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
                }
            }
            textarea{
                float: left;
                width: 100%;
                height: 70px;
                padding: 0 10px;
                border: 1px solid #d7d7d7;
                &:focus{
                    border: 1px solid $yellow;
                    box-shadow: rgba(79, 79, 79, 0.1) 0px 0.4rem 2rem 0px;
                }
            }
        }
    }
}
.how-we-work{
    .container{
        position: relative;
        
    }
}
.img-background{
    position: absolute;
    top: 60px;
    left: 55px;
    width: 100%;
    img{
        width: 1050px;
        height: 309px;
    }
}
.banner-servicces2{
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 40PX;
    text-align: center;
    h6{
        font-size: 24px;
        font-weight: 400;
        line-height: 38px;
        max-width: 70%;
        margin: auto;
    }
    img{
        max-width: 100%;
        margin:50px 0 40px 0;
    }
}

/*--table--*/
.table-services-3{
    table{
        thead{
            th{
                background: $yellow;
                color: $white;
                text-transform: uppercase;
                font-weight: 700;
            }
            h3{
                margin-bottom: 0 !important;
            }
        }
        tr{
            td{
                vertical-align: top;
                &:nth-child(4){
                    vertical-align: top;
                    text-align: center;
                    h6{
                        font-size: 16px;
                        color: $white;
                    }
                }
            }
        }
    }
}
.seo-agency-page{
    display: inline-block;
    width: 100%;
    padding: 40px 0;
    ul{
        li{
            margin-bottom: 30px;
            .item-result{
                min-height: 389px;
            }
            p{
                height: 70px;
            }
        }
    }
}
.our-primary{
    display: inline-block;
    width: 100%;
    padding: 50px 0;
    h2{
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto 20px auto;
        width: 100%;
        display: inline-block;
        font-weight: 700;
    }
    ul{
        li{
            float: left;
            width: 33.3%;
            list-style: none;
            padding: 0 15px;
            margin-bottom: 30px;
            .item-primary{
                a{
                    color: $color1;
                    text-decoration: none;
                }
                float: left;
                width: 100%;
                background: $white;
                img{
                    width: 100%;
                    max-height: 200px;
                    object-fit: cover;
                }
                h6{
                    font-size: 18px;
                    height: 48px;
                    display: inline-block;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                }
                p{
                    font-size: 14px;
                    opacity: .5;
                    margin-top: 10px;
                    display: inline-block;
                    width: 100%;
                    height: 80px;
                }
                .button-detail{
                    float: right;
                    font-weight: bold;
                    color: $yellow;
                    font-size: 14px;
                    a{
                        color: $yellow;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.reseach-box{
    margin: 30px  0;
    display: inline-block;
    width: 100%;
}
.img-research{
    float: left;
    width: 45%;
}
.item-search-box{
    float: left;
    margin-top: 40px;
    img{
        object-fit: cover;
        width: 100%;
    }
}
.content-research{
    float: left;
    width: 55%;
    padding-left: 30px;
    h4{
        a{
            font-size: 18px;
            font-weight: 600;
            color: $color1;
        }
    }
    p{
        font-size: 14px;
        opacity: .7;
    }
}
.content-our-pramiry{
    position: relative;
    background: $bg-gray;
    display: inline-block;
    width: 100%;
    padding: 15px;
}
.description-form-contact{
    padding:0 0 40px 0;
    h6{
        font-size: 22px;
        font-weight: 200px;
        text-align: center;
        max-width: 70%;
        margin: auto;
        line-height: 38px;
    }
}
.content-table-services{
    position: relative;
    padding-left: 30px;
    img{
        position: absolute;
        top: 2px;
        left: 0;
        height: 16px;
    }
    p{
        font-size: 14px;
    }
}
.growth-box{
    background: $bg-gray;
    text-align: center;
    margin-bottom: 30px;
    padding: 50px 0;
    h2{
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto 20px auto;
        width: 100%;
        display: inline-block;
        font-weight: 700;
    }
    .link-requestment{
        text-align: center;
        margin-top: 30px;
        a{
            display: inline-flex;
            padding: 15px 40px;
            border: 1px solid $color1;
            text-decoration: none;
            border-radius: 50px;
            margin: 0 5px;
            background: $color1;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 14px;
            color: #fff;
            &:nth-child(2){
                background: #ee0f0c;
                color: #fff;
                border: 1px solid #ee0f0c;
            }
        }
    }
}
.our-partner{
    p{
        font-size: 14px;
        padding: 30px 0;
        line-height: 28px;
        color: #1a1a1a;
    }
    .quick-box{
        border: 1px solid #e0e0e0;
        h2{
            background: #d8d8d8;
            font-weight: 600;
            opacity: .7;
            margin: 0;
            font-size: 18px;
            text-transform: uppercase;
            padding: 10px 15px;
        }
        h6{
            font-size: 16px;
            font-weight: 500;
            padding: 0 15px;
        }
        ul{
            padding-left: 30px;
            padding-right: 15px;
            li{
                padding: 5px 0;
                a{
                    color: #333;
                    font-size: 13px;
                }
            }
        }
    }
}
.why-is-seo{
    display: inline-block;
    width: 100%;
    padding: 40px 0;
    .content-why-seo{
        border-top: 1px solid #ddd;
        padding-top: 50px;
        float: left;
        width: 100%;
        margin-top: 20px;
        .seo-img{
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .seo-content{
            display: inline-block;
            margin: 10px 0;
            h2{
                text-transform: uppercase;
                font-size: 20px;
                margin: 20px 0 10px 0;
                font-weight: 600;
            }
            p{
                font-size: 13px;
                color: #525252;
                font-weight: normal;
                line-height: 23px;
                text-transform: none;
            }
        }
    }
}
.market-report-body{
    padding: 40px 0;
    .market-lager{
        .market-lager-img{
            float: left;
            width: 50%;
            img{
                object-fit: cover;
                width: 100%;
            }
        }
        .market-lager-infor{
            float: left;
            width: 50%;
            padding-left: 40px;
            h1{
                font-size:45px;
                margin: 0;
                padding: 0;
                margin-bottom: 20px;
                a{
                    font-weight: 700;
                    color: $color1;
                    text-decoration: none;
                }
            }
            p{
                margin: 20px 0;
            }
            label{
                a{
                    color: $yellow;
                    text-decoration: underline;
                }
            }
        }
    }
}
.form-apply{
.upload-file{
    input{
        padding: 0 !important;
        box-shadow: none;
        outline: none;
        border: 0 !important;;
    }
    label{
        font-weight: normal;
    }
}
}
.content-hot-blogs{
    h2{
        overflow: hidden;
    }
}
.blocks.how-we-work{
    h2{
        text-transform: none !important;
        margin-bottom: 40px;
    }
    ul{
        margin-top: 120px !important;
    }
    .img-background {
        top: 97px !important;
    }
}
.list-news-bottom-page.market-report-item{
    margin-left: -15px !important;
    margin-right: -15px !important;
    width: 100%;
    display: inline-block;
    h2{
        text-align: left;
        a{
            font-size: 18px !important;
            line-height: 25px;
            height: 100px;
        }
    }
    .content-hot-blogs{
        text-align: right;
        padding-bottom: 20px;
        width: 100%;
    }
    a{
        &.learn-more{
            color: $yellow;
            font-weight: 600;
            font-size: 13px;
            text-decoration: underline !important;
        }
    }
}
.mauticform-row{
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    b{
        color: $yellow !important;
    }
    span{
        color: $yellow;
        font-weight: normal;
        text-align: right;
        display: inline-block;
        width: 100%;
        font-size: 12px;
    }
    button{
        padding: 12px 25px;
        color: #fff;
        background: #ee0f0c;
        border: 0;
        float: right;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.popup-thankyou{
    text-align: center;
    .modal-dialog{
        width: 400px;
        margin-top: 15%;
    }
    p{
        font-size: 16px;
        padding:20px 0  30px 0;
    }
    .modal-header{
        border:0;
        padding-bottom: 0;
    }
}