*{
    padding: 0;
    outline: none;
    margin: 0;
    text-decoration: none;
}
$white:#fff;
$yellow:#ee0f0c;
$color1:#0c0c0c;
$bg-gray:#f6f8fd;
.market-report-body{
    display: inline-block;
    width: 100%;
    position: relative;
}
.update-sidebar{
    margin-bottom: 30px;
    h3{
        font-size: 20px;
        text-transform: uppercase;
        color:$color1;
        margin: 0 0 10px 0;
    }
    nav{
        ul{
            padding: 0;
            margin: 0;
            li{
                list-style: none !important;
                a{
                    color: $color1;
                    padding: 6px 0;
                    display: inline-block;
                    width: 100%;
                    opacity: .7;
                    &:hover{
                        color: $yellow;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .dropdown{
        button{
            width: 100%;
            display: inline-block;
            text-align: left;
            background: none;
            position: relative;
            height: 40px;
            padding: 5px 15px;
            border: 1px solid #dfdfdf;
            border-radius: 1px;
            &::after{
                content: "\e64b";
                display: block;
                position: absolute;
                right: 10px;
                font-family: 'themify';
                top: 10px;
                font-size: 12px;
            }
        }
    }
    .hs-menu-inner{
        display: inline-block;
        width: 100%;
        padding: 10px;
        a{
            display: inline-block;
            width: 100%;
            padding: 5px 0;
            color: $color1;
            opacity: .6;
            &:hover{
                color: $yellow;
                opacity: 1;
            }
        }
    }
    .hs-searchbox{
        padding: 0 10px;
        input{
            box-shadow: none !important;
        }
    }
}


.thumnails {
    position: relative;
    padding-top:77%;
    width: 100%;
    display: block;
}
.thumnails img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
}
/*--check box--*/
.pos-checkbox-status{
	margin: 10px 0 0 0;
	float: left;
    .pos-check-content{
        margin-bottom: 15px;
    }
	label{
		&::before{
			border: 1px solid $color1;
		}
		span{
			margin-top: 0px;
			float: right;
			color: $color1;
            font-weight: normal;
			position: relative;
			.styled-checkbox:checked + label:before {
				background: #fff;
				border: 1px solid $color1 !important;
			}
		}
	}
	.styled-checkbox {
		position: absolute; // take it out of document flow
		opacity: 0; // hide it
	  
		& + label {
		  position: relative;
		  cursor: pointer;
		  padding: 0;
		}
	  
		// Box.
		& + label:before {
		  content: '';
		  margin-right: 7px;
		  display: inline-block;
		  vertical-align: text-top;
		  width: 20px;
		  border-radius: 2px;
		  height: 20px;
		  background: white;
		}
	  
		
		
		
		// Box checked
		&:checked + label:before {
		  background: #fff;
		  border: 1px solid $color1;
		}
		
		// Disabled state label.
		&:disabled + label {
		  color: #b8b8b8;
		  cursor: auto;
		}
	  
		// Disabled box.
		&:disabled + label:before {
		  box-shadow: none;
		  background: #fff;
		  
		}
	  
		// Checkmark. Could be replaced with an image
		&:checked + label:after {
			content: '';
            display: block;
            position: absolute;
            top: 2px;
            left: 7px;
            width: 6px;
            color: $color1;
            background: white;
            height: 13px;
            box-shadow: none !important;
            border: solid ;
            border-width: 0 2px 2px 0;
            transform: rotate(
        45deg
        );
		}
	  }
}
/*-- end check box --*/
.update-list-market{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #E3E8F1;
}
.update-avatar{
    width: 170px;
    position: absolute;
    left: 20px;
}
.update-item-market{
    display: inline-block;
    width: 100%;
    border: 1px solid #E3E8F1;
    position: relative;
    padding: 20px 150px 20px 220px;
    border-bottom: 0;
    &:hover{
        background: #F5F7FB;
    }
    
    .update-infor-market{
        h2{
            font-size: 18px;
            font-weight: bold;
            color: $color1;
            margin-top: 0;
            a{
                text-decoration: none;
            }
            &:hover{
                color: $yellow;
            }
        }
        span{
            font-size: 13px;
            color: $color1;
            opacity: .5;
        }
        p{
            display: inline-block;
            width: 100%;
            margin-top: 10px;
            line-height: 23px;
        }
        label{
            font-size: 13px;
            color: $color1;
            font-weight: normal;
            opacity: .5;
        }
    }
    .update-btn-action{
        position: absolute;
        right: 20px;
        top: 30px;
        width: 110px;
        a{
            display: inline-block;
            width: 100%;
            height: 40px;
            border-radius: 1px;
            padding: 10px 10px;
            text-align: center;
            text-transform: uppercase;
            &.update-btn-download{
                background: $yellow;
                border: 1px solid $yellow;
                color: white;
                font-size: 13px;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
            &.update-btn-detail{
                background: none;
                border: 1px solid $color1;
                color: $color1;
                font-size: 13px;
                text-transform: uppercase;
            }
        }
    }
}
.hierarchy-select{
    min-width: inherit !important;
}
.update-sidebar-menu{
    display: none;
}
.update-btn-close{
    display: none;
}
.update-market-detail-page{
    height: inherit;
    background: #000 url(../images/bg-market-detail.png) no-repeat center bottom;
    background-size: cover;
    padding-top: 120px;
    .breadcrumb{
        margin-bottom: 30px;
    }
}
.update-market-detail-infor{
    margin-top: 30px;
    text-align: left;
    h1, p, span, label{
        text-align: left;
        font-weight: normal;
        color: white;
        opacity: .7;
        margin: 0;
    }
    h1{
        font-weight: bold;
        opacity: 1;
        text-transform: none;
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
    }
    p{
        padding: 0  !important;
        width: 100%;
        max-width: 100%;
        margin: 20px 0;
    }
}
.update-btn-action{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    a{
        background: $yellow;
        width: 200px;
        height: 50px;
        color: white;
        display: block;
        text-align: center;
        padding-top: 13px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
    }
}
.update-tag{
    display: inline-block;
    width: 100%;
    margin: 30px 0;
    span{
        float: left;
        font-size: 13px;
        margin-top: 5px;
    }
    a{
        display: inline-block;
        padding: 5px 20px;
        border-radius: 20px;
        text-decoration: none;
        margin-left: 10px;
        color: #444444;
        border: 1px solid #dfdfdf;
        &:hover{
            border: 1px solid $yellow;
            color: $yellow;
        }
    }
}
.update-contet-pagedetail{
    padding: 30px 0;
    .container{
        max-width: 900px;
        img{
            max-width: 100%;
        }
    }
    p, span, label{
        color: #444444;
    }
    h2{
        font-size: 26px;
    }
    p{
        line-height: 26px;
    }
 .update-sumary-content{
     width: 300px;
     background:#F5F7FB;
     margin-left: 50px;
     border: 1px solid #E5E5E5;
     float: right;
     h6{
        display: inline-block;
        width: 100%;
        padding: 10px 15px;
        color: $color1;
        margin: 0;
        font-size: 16px;
        padding-block-end: 5px 15px;
        border-bottom: 1px solid #E5E5E5;
     }
     nav{
         ul{
             padding: 10px 0;
             margin: 0;
             padding-left: 30px;
             li{
                 &::marker{
                     color: rgb(128, 128, 128);
                 }
                 a{
                     padding: 5px 15px;
                     padding-left: 0;
                     color: $color1;
                     display: block;
                     opacity: .6;
                     font-size: 13px;
                     &:hover{
                         color: $yellow;
                     }
                 }
             }
         }
     }
 }   
}

.update-Related-Articles{
    padding: 50px 0;
    display: inline-block;
    width: 100%;
    background: $bg-gray;
    .update-infor-market{
        background: white;
        padding: 15px;
        p{
            display: none !important;
        }
    }
    h2{
        a{
            color: $color1;
            opacity: .8;
            &:hover{
                opacity: 1;
                color: $yellow !important;
            }
        }
    }
    .update-item-market{
        background: white;
        padding-bottom: 0 !important;
        margin-bottom: 0;
        border-bottom: 1px solid #E3E8F1;
    }
    .update-btn-action{
        position: relative;
        right: inherit;
        top: inherit;
        background: white;
        width: 100%;
        padding: 0 15px;
        padding-bottom:0px;
       
        margin-top: 0;
        a{
            float: left;
            width: 49%;
            &.update-btn-download{
                margin-right: .5%;
            }
            &.update-btn-detail{
                margin-left: .5%;
            }
        }
    }
    .update-item-market{
        padding: 0 !important;
        .update-avatar{
            position: relative;
            display: inline-block;
            left: 0;
            width: 100%;
        }
    }
}
.update-title-related{
    display: inline-block;
    width: 100%;
    padding: 0px 0 40px 0;
    h2{
        text-align: center;
        font-size: 22px;
        margin: 0;
        font-weight: bold;
        padding: 0;
        text-transform: uppercase;
        position: relative;
        &::after{
            content: '';
            display: block;
            margin: auto;
            width: 100px;
            margin-top: 10px;
            height: 2px;
            background: $yellow;
        }
    }
}
.update-popup-information{
    input{
        box-shadow: none;
        outline: none;
        border-radius: 1px;
        height: 40px;
        border: 1px solid #dfdfdf;
    }
    label{
        font-weight: normal;
        opacity: .6;
    }
}
.update-btn-action-form{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    button{
        height: 50px;
        background: #ee0f0c !important;
        color: white !important;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        width: 100%;
        border-radius: 1px;
        border: 0;
        align-content: center;
        font-weight: bold;
        &:hover{
            opacity: .8;
        }
    }
}
.update-popup-information{
    position: relative;
    padding: 30px;
    padding-top: 10px;
    .update-btn-close-popup{
        position: absolute;
        right: -10px !important;
        border: 0;
        background: none;
        top: 10px !important;
        display: block !important;
        i{
            color: $color1;
            font-size: 20px;
            &:hover{
                color: $yellow;
            }

        }
    }
    h4{
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
    }
}
form{
    
    .dropdown{
        button{
            width: 100%;
            display: inline-block;
            text-align: left;
            background: none;
            position: relative;
            height: 40px;
            padding: 5px 15px;
            border: 1px solid #dfdfdf;
            border-radius: 1px;
            &::after{
                content: "\e64b";
                display: block;
                position: absolute;
                right: 10px;
                font-family: 'themify';
                top: 10px;
                font-size: 12px;
            }
        }
    }
    .hs-menu-inner{
        display: inline-block;
        width: 100%;
        padding: 10px;
        a{
            display: inline-block;
            width: 100%;
            padding: 5px 0;
            color: $color1;
            opacity: .6;
            &:hover{
                color: $yellow;
                opacity: 1;
            }
        }
    }
    .hs-searchbox{
        padding: 0 10px;
        input{
            box-shadow: none !important;
        }
    }
}
.update-avatar-mb{
    display: none;
}

.update-avatar-pc{
    display: block;
}
.update-page-thankyou{
    display: inline-block;
    width: 100%;
    padding: 100px 0;
    text-align: center;
    .container{
        max-width: 500px;
    }
}
.update-back-home{
    text-align: center;
    margin-top: 30px;
    opacity: .6;
    i{
        color: $color1;
        margin-right: 5px;
    }
    span{
        color: $color1;
    }
    a{
        &:hover{
            text-decoration: none;
            opacity: 1;
            color: $yellow;
        }
    }
    &:hover{
        opacity: 1;
        a{
            i, span{
                color: $yellow;
            }
        }
    }
}
.content-detail-market-report{
    position: relative;
    .expired-icon{
        position: absolute;
        top: 80px;
        right: 20%;
        width: 60%;
        object-fit: inherit;
        height: inherit;
        opacity: .6;
    }
}
.update-porfolio-page{
    .update-logo-brand{
        text-align: center;
        margin: auto;
        max-width: 800px;
        img{
            height: 30px;
            margin: 10px 15px;
        }
    }
    .update-tag-cate{
        text-align: center;
        margin-top: 20px;
        margin: auto;
        max-width: 800px;
        a{
            border: 1px solid #dfdfdf;
            height: 40px;
            margin: 0 5px;
            margin-top: 40px;
            padding: 0 20px;
            color: $color1;
            opacity: .7;
            align-content: center;
            position: relative;
            text-decoration: none;
            display: inline-grid;
            &:hover{
                color: $yellow;
                border: 1px solid $yellow;
            }
        }
    }
}
.update-porfolio-page-editor{
    margin-top: 100px;
    .container{
        max-width: 1000px;
        text-align: center;
        h2{
            text-align: center;
            margin-bottom: 20px;
        }
        p{
            font-size: 15px;
            font-weight: normal;
            line-height: 26px;
            opacity: .7;
            text-align: center;
        }
    }
}
.update-porfolio-img{
    display: inline-block;
    width: 100%;
    padding: 50px 0;
    img{
        width: 100%;
    }
}
.update-next-prev-porfolio{
    display: inline-block;
    min-height: 100px;
    display: grid;
    align-items: center;
    position: relative;
    width: 100%;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    .update-prev-portfolio{
        display: inline-block;
        width: 100%;
        position: relative;
        text-align: left;
        padding-left: 60px;
        border-right: 1px solid #b8b8b8;
        &:hover{
            span, h6, i{
                color: $yellow !important;
            }
        }
        a{
            text-decoration: none;
            color: $color1;
            
        }
        span{
            text-transform: uppercase;
            opacity: .5;
            display: inline-block;
            width: 100%;
        }
        h6{
            font-size: 22px;
            color: $color1;
        }
        i{
            position: absolute;
            left: 15px;
            font-size: 20px;
            color: #444444;
            top: 14px;
        }
    }
}
.update-next-prev-porfolio{
    display: inline-block;
    min-height: 100px;
    display: grid;
    align-items: center;
    position: relative;
    width: 100%;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    .update-next-portfolio{
        display: inline-block;
        width: 100%;
        position: relative;
        text-align: right;
        padding-right: 60px;
        &:hover{
            span, h6, i{
                color: $yellow !important;
            }
        }
        a{
            text-decoration: none;
            color: $color1;
            
        }
        span{
            text-transform: uppercase;
            opacity: .5;
            display: inline-block;
            width: 100%;
        }
        h6{
            font-size: 22px;
            color: $color1;
        }
        i{
            position: absolute;
            right: 15px;
            font-size: 20px;
            color: #444444;
            top: 14px;
        }
    }
}
.update-Related-porfolio{
    padding: 50px 0;
    h2{
        text-align: center;
        display: inline-block;
        width: 100%;
        font-size:32px;
    }
}
.update-infor-head-porfolio{
    position: absolute;
    right: 0;
    top: 20px;
    width: 39%;
    text-align:left;
    padding: 0 50px;
    h1{
        text-transform: none;
        text-align: left;
    }
    p{
        color: white;
        text-align: left;
        padding: 0;
        font-size: 14px;
        max-width: 100%;
        opacity: .7;
        width: 100%;
        float: left;
        word-wrap: break-word;
    }
    .update-btn-action-form{
        margin-top: 40px;
    }
    .update-tags{
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        span{
            text-transform: uppercase;
            margin-right: 10px;
            font-size: 12px;
            color: white;
        }
    }
    span{
        text-transform: uppercase;
        opacity: .6;
        text-align: left;
    }
}
.update-item-porfolio{
    position: relative;
    margin: 60px 0 20px 0;
    .thumnails {
        padding-top: 56%;
    }
    .update-infor-porfolio{
        position: relative;
        padding-right: 180px;
        background: white;
        border: 1px solid #e6e6e6;
        padding: 15px 20px;
        border-top: 0;
        h6{
            a{
                font-size: 28px;
                font-weight: bold;
                color: $color1;
            }
        }
        p{
            display: inline-block;
            width: 100%;
            margin-bottom: 0;
            span{
                font-size: 12px;
                color: #444444;
                opacity: .7;
                text-transform: uppercase;
            }
        }
        a{
            &.visitwebsite{
                position: absolute;
                right: 15px;
                top: 26px;
                width: 160px;
                height: 40px;
                border: 1px solid #ee0f0c;
                color: #ee0f0c;
                text-align: center;
                display: inline-grid;
                align-items: center;
            }
        }
    }
    &:hover{
        a{
            color: $yellow !important;
            &.visitwebsite{
                border: 1px solid #ee0f0c;
                color: white !important;
                background: $yellow;
            }
        }
    }
}
.update-hiring-page{
    .list-news-bottom-page{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .content-hot-blogs{
        a{
            height: auto !important;
        }
    }
    .deadline-apply{
        font-size: 14px;
        opacity: .5;
        display: inline-block;
        width: 100%;
        text-align: left;
    }
    .item-bottom-news{
        position: relative;
        img{
            &.expired-icon{
                position: absolute;
                bottom: 80px;
                right: 20%;
                width: 60%;
                object-fit: inherit;
                height: inherit;
                opacity: .6;
            }
        }
    }
}
.update-head-porfolio-detail{
    position: relative;
    padding: 20px 40% 0 30px;
    .update-avatar-porfolio-detail{
        width:100%;
    }
    .thumnails {
        padding-top: 56%;
    }
}
.market-page-detail{
    .deadline-apply{
        color: white;
        opacity: .7;
        margin-top: -20px;
        float: left;
        width: 100%;
    }
}
.update-client-portal{
    background: $color1;
    height: 600px;
    padding-top: 110px;
}
@media only screen and (max-width:900px) {
    .update-avatar-mb{
        display: block !important;
    }
    .update-Related-Articles {
        padding: 30px 0;
    }
    .update-contet-pagedetail {
        padding: 30px 0 0 0;
    }
    .update-avatar-pc{
        display: none !important;
    }
    .update-sidebar-menu {
        display: block;
        position: absolute;
        left: 15px;
        padding: 10px 30px;
        border: 1px solid #dfdfdf;
        border-radius: 1px;
        top: -20px;
        i{
            font-size: 15px;
        }
        span{
            font-size: 13px;
            margin-right: 5px;
        }
    }
    
    .update-list-market{
        margin-top: 40px;
    }
    .update-item-market {
        padding: 15px;
        padding-left: 140px;
    }
    .update-avatar {
        width: 110px;
        left: 15px;
        margin-bottom: 20px;
    }
    .update-item-market .update-btn-action {
        position: relative;
        right: inherit;
        top: inherit;
        width: 100%;
    }
    .update-item-market .update-infor-market label{
        margin-bottom: 0;
    }
    .update-item-market .update-btn-action{
        display: none;
    }
    .update-item-market .update-infor-market span {
        display: inline-block;
        width: 100%;
    }
    .update-item-market .update-infor-market p{
        display: none;
    }
    .update-item-market .update-btn-action a {
        float: left;
        width: 49%;
    }
    .update-item-market .update-infor-market h2 a {
        font-size: 14px;
    }
    .update-btn-download{
        margin-right: .5%;
    }
    .update-btn-detail{
        margin-left: .5%;
    }
    .update-box-filter{
        display:none;
        background: white;
        padding: 15px;
        position: fixed;
        top: 0px;
        left: 0;
        height: 100%;
        width: 100%;
        padding-top: 70px;
        z-index: 9;
        overflow-y: auto;
    }
    .update-btn-close{
        display: block;
        position: fixed;
        top: 0;
        left: 15px;
        width: 100%;
        height: 50px;
        background: white;
        z-index: 9;
        padding-top: 15px;  
        i{
            font-size: 20px;
        }
    }
    .show-filter-udpate{
        display: block !important;
    }
    .update-contet-pagedetail .update-sumary-content {
        width: 100%;
        background: #F5F7FB;
        margin-left: 0px;
        border: 1px solid #E5E5E5;
        float: right;
        margin-bottom: 30px;
    }
    .update-item-market{
        margin-bottom: 20px !important;
        display: inline-block !important;
        width: 100% !important;
    }
    .update-tag a{
        margin-bottom: 10px;
    }
    .update-Related-Articles .update-item-market {
        padding-left: 130px !important;
        padding-top: 15px !important;
    }
    .update-Related-Articles .update-item-market .update-avatar {
        position: absolute;
        display: inline-block;
        left: 15px;
        width: 110px;
    }
    .update-Related-Articles .update-infor-market {
        padding-top: 0;
    } 
    .update-market-detail-infor{
        margin-bottom: 20px;
    }   
    .update-client-portal {
        height: initial;
    }
    .update-head-porfolio-detail {
        position: relative;
        padding: 0;
    }
    .update-infor-head-porfolio {
        position: relative;
        right: 0;
        top: 20px;
        width: 100%;
        text-align: left;
        padding: 0 20px;
    }
    .update-next-prev-porfolio{
        .col-md-6{
            float: left;
            padding: 15px 0 !important;
            width: 50% !important;
        }
    }
    .update-next-prev-porfolio{
        .row{
            margin: 0 !important;
        }
    }
    .update-porfolio-img{
        .row{
            margin: 0 !important;
            
            img{
                margin-bottom: 10px;
            }
        }
    }
    .update-next-prev-porfolio{
        .col-md-6{
            &:nth-child(1){
                border-right: 1px solid #ddd;
            }
        }
    }
    .update-prev-portfolio{
        border: 0 !important;
    }
    .update-next-prev-porfolio{
        h6{
            font-size: 16px !important;
        }
        span{
            font-size: 12px;
        }
        .row{
            display: flex;
        }
    }
    .update-Related-porfolio {
        padding: 0;
    }
    .update-item-porfolio .update-infor-porfolio a.visitwebsite {
        position: relative;
        right: inherit;
        top: 26px;
        width: 160px;
        height: 40px;
        border: 1px solid #ee0f0c;
        color: #ee0f0c;
        text-align: center;
        display: inline-grid;
        align-items: center;
        margin-bottom: 30px;
    }
    .update-Related-porfolio h2 {
        text-align: center;
        display: inline-block;
        width: 100%;
        font-size: 24px;
        margin-bottom: 0;
    }
    .update-porfolio-page-editor {
        margin-top: 0;
    }
}



